/*@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
*/
/* line 4, ../scss/header.scss */
h1 {
  text-transform: uppercase;
  font-size: 4em;
}

/* line 9, ../scss/header.scss */
h1:before {
  text-transform: uppercase;
  content: 'Skeyler';
  position: absolute;
  -webkit-transform: scaleY(0.4) skewX(-30deg) translateX(-5px);
  -moz-transform: scaleY(0.4) skewX(-30deg) translateX(-5px);
  -ms-transform: scaleY(0.4) skewX(-30deg) translateX(-5px);
  -o-transform: scaleY(0.4) skewX(-30deg) translateX(-5px);
  transform: scaleY(0.4) skewX(-30deg) translateX(-5px);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  line-height: 1.0;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
