/*@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
*/
/* line 3, ../scss/blog.scss */
.blog {
  padding: 32px;
}
/* line 6, ../scss/blog.scss */
.blog .blogPost {
  padding: 1em 0;
  border-bottom: 2px solid #ddd;
}
/* line 10, ../scss/blog.scss */
.blog .blogPost img {
  max-width: 100%;
}
/* line 14, ../scss/blog.scss */
.blog .blogPost h3 {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}
/* line 20, ../scss/blog.scss */
.blog .blogPost h3 a {
  color: #555;
  font-weight: bold;
}
/* line 26, ../scss/blog.scss */
.blog .blogPost .postDetails {
  float: right;
}
/* line 30, ../scss/blog.scss */
.blog .blogPost p {
  clear: both;
  padding-top: 1em;
}
/* line 35, ../scss/blog.scss */
.blog .blogPost .comments {
  float: right;
  clear: both;
  color: #000;
  display: inline-block;
  padding: 0 0 0 20px;
  min-height: 14px;
  vertical-align: middle;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAMAAAAR8Wy4AAAArlBMVEX///9KSkpfX19gYGBbW1vExMRMTEzKysr7+/tNTU1eXl7BwcGUlJSPj4+ampr39/eqqqq3t7e7u7u4uLhZWVmWlparq6uVlZVdXV2cnJzLy8v6+vpcXFytra22trZISEjAwMCsrKxLS0vHx8fq6uqKior4+PhkZGS8vLxQUFDf399oaGhaWlphYWHc3Nz19fX8/Pz5+fl4eHhmZmbt7e2Ojo5JSUn29vZ3d3fe3t4rLPjbAAAAcklEQVR4XoXMRQ7EMABD0R8o8zAzM8P9LzaqlEWzmre0bON3Qz0wdNjMSBu1aGJEG5kQ5FSMAsZDKuoCMbUas/+B/UEhcFtW4NLuON6JRc8rzddLVrFS293+oKSUR/U8A5fr7a4f/ZJvls4rxvL+fDH4AapMCi42DzypAAAAAElFTkSuQmCC ") left center no-repeat;
}
/* line 48, ../scss/blog.scss */
.blog .blogPost:after {
  content: '';
  display: block;
  clear: both;
}
