/*@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
*/
/* line 3, ../scss/forums.scss */
.table {
  width: 866px;
  border: none;
  margin: 0;
  display: block;
}

/* line 13, ../scss/forums.scss */
.table.subforums .row {
  background: #3d628c;
  color: #94a9c0;
  min-height: 32px;
  padding: 0 0 0 48px;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  display: block;
  margin: 0 0 1em 0;
  text-align: right;
}
/* line 24, ../scss/forums.scss */
.table.subforums .row.head {
  border-bottom: 1px solid #494949;
  background: transparent;
  padding: 0;
  color: #494949;
  margin: 0 0 15px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  vertical-align: bottom;
  min-height: 0;
  font-weight: bold;
  text-align: left;
}
/* line 36, ../scss/forums.scss */
.table.subforums .row.head .cell {
  padding: 0;
}
/* line 39, ../scss/forums.scss */
.table.subforums .row.head .cell + .cell {
  float: right;
  width: 200px;
}
/* line 47, ../scss/forums.scss */
.table.subforums .row .cell {
  display: inline-block;
  padding: 4px 0;
}
/* line 51, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo {
  float: left;
  text-align: left;
}
/* line 55, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo.noSubforums {
  margin-top: 8px;
}
/* line 59, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo .forumName, .table.subforums .row .cell.forumInfo .description {
  display: inline-block;
  line-height: 1.0;
  float: left;
}
/* line 65, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo .forumName {
  font-size: 14pt;
  font-weight: bold;
  color: #fff;
}
/* line 71, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo .description {
  font-size: 0.85em;
  clear: left;
  margin: 4px 0 0 0;
}
/* line 77, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo ul.subforums {
  display: inline-block;
  list-style: none;
  float: left;
  clear: left;
  padding: 0;
  margin: 4px 0 0 0;
  line-height: 1.0;
  font-size: 0.8em;
}
/* line 87, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo ul.subforums li {
  display: inline-block;
}
/* line 90, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo ul.subforums li a {
  display: inline-block;
  padding: 0.1em 0.5em;
  background: #2c4b6d;
  box-shadow: 0 0 0.25em rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  color: #fff;
}
/* line 99, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo ul.subforums li a:hover {
  text-decoration: none;
}
/* line 107, ../scss/forums.scss */
.table.subforums .row .cell.postCount {
  color: #94a9c0;
  line-height: 52px;
  vertical-align: top;
  margin: 0 1em 0 0;
}
/* line 115, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo {
  text-align: left;
  display: inline-block;
  float: right;
  background: #fff;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  margin: 2px;
  padding: 2px;
  min-width: 200px;
  min-height: 56px;
}
/* line 126, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .avatar {
  vertical-align: top;
  width: 52px;
  height: 52px;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  vertical-align: middle;
}
/* line 134, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .subPostInfo {
  display: inline-block;
  vertical-align: middle;
}
/* line 139, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .timestamp, .table.subforums .row .cell.lastPostInfo .userLink, .table.subforums .row .cell.lastPostInfo .viewLink {
  display: block;
  font-size: 0.65em;
}
/* line 144, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .timestamp {
  color: #929292;
}
/* line 147, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .userLink {
  color: #4b4b4b;
  font-weight: bold;
}
/* line 151, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .viewLink {
  color: #385464;
}
/* line 160, ../scss/forums.scss */
.table.subforums .row.forumNew {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEX////////////////////////////////7/fpnvTj///93xE2w3Zir25F1w0t0wkiv3Jat25NOxqYUAAAACHRSTlPqBoeE5I3nii1WPakAAABgSURBVHhe7dNJCoAwDEDRpJNJZ+9/WUUUau2wdKEfsspbBQIole2mJIKwwwTAGBx78o7PnKda7JO5KDdAKkFqAL71WTA/VC7B2gAU4gVioAeoew38YCJg9rwLoDZ9YDRu5Dsm96QNNE0AAAAASUVORK5CYII=") no-repeat 8px center #3d628c;
}
/* line 164, ../scss/forums.scss */
.table.subforums .row.forumSeen {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAMFBMVEX////////////////////////////////f39/////Hx8fIyMjd3d3+/v7CwsLe3t7mcNmfAAAACHRSTlMG6oeE5OeNiud7DD8AAABqSURBVHhe1dG9CYAwGIThA8EdHMHONRzBznXESlH0E2LvBhZu4AQZwSa9nb8cSRYQ3/KpDg5BKlZNglicakQuVBBVmrNZvwLpzV1BGB6YCOMD28fAYf70naDWCxZNYP8H/0r/7A5hZkObH+4YTEk1WQzWAAAAAElFTkSuQmCC") no-repeat 8px center #3d628c;
}

/* line 171, ../scss/forums.scss */
table.threads {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}
/* line 176, ../scss/forums.scss */
table.threads .pageNav {
  float: right;
}
/* line 180, ../scss/forums.scss */
table.threads tr {
  color: #515151;
  height: 25px;
  background-color: #e5e5e5;
  font-size: 0.75em;
  border-top: 7px solid #fff;
}
/* line 187, ../scss/forums.scss */
table.threads tr td {
  padding-top: 4px;
  padding-bottom: 4px;
}
/* line 192, ../scss/forums.scss */
table.threads tr .title {
  padding-left: 32px;
  font-size: 1.25em;
}
/* line 196, ../scss/forums.scss */
table.threads tr .title span {
  max-width: 275px;
  display: inline-block;
}
/* line 202, ../scss/forums.scss */
table.threads tr.threadNew .title {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAATlBMVEX///////////////////////////////////////////+Ozmv///+NzWlqvjxpvjtnvTh2w0yOzmyLzWiNzmq74aaKzGWc1H2a03uKzGYLR4gOAAAAC3RSTlPe4bb9plNK4N+5uFc0eh4AAABZSURBVHhepczJDoUgEETRamZsnKf3/v9HNbBoA3HlXZ5UCs4ESME4KJ2eaQVK85A7CxGQxil3FMEtQ5GlEX4V+embzSry+zNzv+0i0hehSghdJR1s9JB8tBcwDgvd/QYRIgAAAABJRU5ErkJggg==") no-repeat 4px center;
}
/* line 206, ../scss/forums.scss */
table.threads tr.threadSeen .title {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAAPFBMVEX////////////////////////////////////////////S0tLR0dH////Q0NDX19fDw8PCwsLIyMjk5OQj0fLoAAAAC3RSTlPe4f1K36a5tlO44J4ZVbgAAABMSURBVHhepcg5DoAwDATAdc7DzgH8/69ISWGUggKmHFjvoJy3iKY+mQiq55j6KgLqOKa2Bjr8aeRtemNmkUtH/RnahpC3yUihQJWQboMbDHlKFy9FAAAAAElFTkSuQmCC") no-repeat 4px center;
}
/* line 210, ../scss/forums.scss */
table.threads tr.closed .title {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARBAMAAADJQ1rJAAAAJ1BMVEX///////////////////////////////////////////91dXX///+XIzTAAAAAC3RSTlPe4bb9SqbfuFO54EyritgAAABWSURBVHhefcyhEYAwEETRLSAiBUQwQyMY+sDgKSACSxdYatg45G1RXGbOMfDVUx/zgt46YRQp6R5QTGrOjBQCEr2Xmv2JDBkZF3mfKqGMGtpwnOhd+wNkWFdv4gSALAAAAABJRU5ErkJggg==") no-repeat 4px center;
}
/* line 214, ../scss/forums.scss */
table.threads tr.closed {
  opacity: 0.6;
}
/* line 217, ../scss/forums.scss */
table.threads tr.closed .title a:before {
  content: 'Locked: ';
  font-weight: bold;
  text-transform: uppercase;
}
/* line 224, ../scss/forums.scss */
table.threads tr.sticky {
  background-color: #f2ecb6;
  opacity: 1.0;
}
/* line 228, ../scss/forums.scss */
table.threads tr.sticky .title a:before {
  content: 'Sticky: ';
  font-weight: bold;
  text-transform: uppercase;
}
/* line 235, ../scss/forums.scss */
table.threads tr a {
  color: #515151;
}
/* line 239, ../scss/forums.scss */
table.threads tr a.userLink {
  color: #385464;
}
/* line 247, ../scss/forums.scss */
table.threads thead tr {
  background: transparent;
}
/* line 251, ../scss/forums.scss */
table.threads thead th {
  color: #494949;
  padding: 0;
}
/* line 256, ../scss/forums.scss */
table.threads thead th.pageNav {
  vertical-align: bottom;
  font-weight: normal;
}
/* line 263, ../scss/forums.scss */
table.threads thead:after {
  content: '';
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  width: 866px;
  background: #3d628c;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}
