/*@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
*/
/* line 3, ../scss/forums.scss */
.newThreadLink {
  float: right;
}

/* line 7, ../scss/forums.scss */
.table {
  width: 836px;
  border: none;
  margin: 0;
  display: block;
}

/* line 15, ../scss/forums.scss */
.page-forum .modDropdown {
  float: right;
}
/* line 20, ../scss/forums.scss */
.page-forum h2 {
  margin: 0;
}

/* line 27, ../scss/forums.scss */
.table.subforums .row {
  background: #3b3b3b;
  color: #aaa;
  min-height: 32px;
  padding: 0 0 0 30px;
  display: block;
  margin: 0 0 1em 0;
  text-align: right;
  position: relative;
}
/* line 41, ../scss/forums.scss */
.table.subforums .row:before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 7px;
  width: 10px;
}
/* line 51, ../scss/forums.scss */
.table.subforums .row.head {
  border-style: solid;
  -moz-border-image: url(../images/noiseDivider.png) 0 0 2 0 repeat repeat;
  -webkit-border-image: url(../images/noiseDivider.png) 0 0 2 0 repeat repeat;
  -webkit-border-image: url(../images/noiseDivider.png) 0 0 2 0 repeat repeat;
  -o-border-image: url(../images/noiseDivider.png) 0 0 2 0 repeat repeat;
  border-image: url(../images/noiseDivider.png) 0 0 2 0 repeat repeat;
  border-width: 0px 0px 2px 0px;
  background: transparent;
  padding: 0;
  color: #999;
  margin: 0 0 15px 0;
  vertical-align: bottom;
  min-height: 0;
  font-weight: bold;
  text-align: left;
}
/* line 62, ../scss/forums.scss */
.table.subforums .row.head .cell {
  padding: 0;
}
/* line 65, ../scss/forums.scss */
.table.subforums .row.head .cell + .cell {
  float: right;
  width: 200px;
}
/* line 73, ../scss/forums.scss */
.table.subforums .row .cell {
  display: inline-block;
  padding: 4px 0;
}
/* line 77, ../scss/forums.scss */
.table.subforums .row .cell.noSubforums {
  margin-top: 8px;
  line-height: 1.2;
}
/* line 82, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo {
  float: left;
  text-align: left;
  line-height: 1;
}
/* line 87, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo .forumName, .table.subforums .row .cell.forumInfo .description {
  display: inline-block;
  float: left;
}
/* line 92, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo .forumName {
  font-size: 14pt;
  font-weight: bold;
  color: #fff;
}
/* line 98, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo .description {
  font-size: 0.85em;
  clear: left;
  margin: 4px 0 0 0;
}
/* line 104, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo ul.subforums {
  display: inline-block;
  list-style: none;
  float: left;
  clear: left;
  padding: 0;
  margin: 4px 0 0 0;
  line-height: 1.0;
  font-size: 0.8em;
}
/* line 114, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo ul.subforums li {
  display: inline-block;
}
/* line 117, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo ul.subforums li a {
  display: inline-block;
  padding: 0.1em 0.5em;
  background: url(../images/noiseBlackLight.png) repeat left center #636363;
  box-shadow: 0 0 0.25em rgba(255, 255, 255, 0.25);
  color: #fff;
}
/* line 125, ../scss/forums.scss */
.table.subforums .row .cell.forumInfo ul.subforums li a:hover {
  text-decoration: none;
}
/* line 133, ../scss/forums.scss */
.table.subforums .row .cell.postCount {
  line-height: 52px;
  vertical-align: top;
  margin: 0 1em 0 0;
}
/* line 139, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo {
  text-align: left;
  display: inline-block;
  background: url(../images/noiseGrey.png) repeat left center #e9e9e9;
  margin: 2px;
  padding: 5px;
  min-width: 200px;
  min-height: 56px;
}
/* line 151, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .avatar {
  vertical-align: top;
  width: 46px;
  height: 46px;
  vertical-align: middle;
  outline: 2px solid #bebebe;
}
/* line 160, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .subPostInfo {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
}
/* line 166, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .timestamp, .table.subforums .row .cell.lastPostInfo .userLink, .table.subforums .row .cell.lastPostInfo .viewLink {
  display: block;
  font-size: 0.65em;
}
/* line 171, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .timestamp {
  color: #929292;
}
/* line 174, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .userLink {
  color: #4b4b4b;
  font-weight: bold;
}
/* line 178, ../scss/forums.scss */
.table.subforums .row .cell.lastPostInfo .viewLink {
  color: #25bfff;
}
/* line 188, ../scss/forums.scss */
.table.subforums .row.forumNew:before {
  background: url(../images/noiseBlue.png) repeat left center;
  border-style: solid;
  -moz-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  -webkit-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  -webkit-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  -o-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  border-width: 3px 2px 3px 2px;
}
/* line 195, ../scss/forums.scss */
.table.subforums .row.forumSeen:before {
  background: url(../images/noiseGreyDark.png) repeat left center #e0e0e0;
  border-style: solid;
  -moz-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  -webkit-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  -webkit-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  -o-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  border-width: 3px 2px 3px 2px;
}

/* line 203, ../scss/forums.scss */
table.threads {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}
/* line 208, ../scss/forums.scss */
table.threads .pageNav {
  float: right;
}
/* line 212, ../scss/forums.scss */
table.threads tr {
  color: #515151;
  height: 40px;
  background: url(../images/noiseGrey.png) repeat left center #e9e9e9;
  font-size: 0.75em;
  border-style: solid;
  border-color: #f3f3f3;
  -moz-border-image: url(../images/noiseGreyMedium.png) 7 0 0 0 repeat repeat;
  -webkit-border-image: url(../images/noiseGreyMedium.png) 7 0 0 0 repeat repeat;
  -webkit-border-image: url(../images/noiseGreyMedium.png) 7 0 0 0 repeat repeat;
  -o-border-image: url(../images/noiseGreyMedium.png) 7 0 0 0 repeat repeat;
  border-image: url(../images/noiseGreyMedium.png) 7 0 0 0 repeat repeat;
  border-width: 7px 0px 0px 0px;
}
/* line 220, ../scss/forums.scss */
table.threads tr:hover {
  background: url(../images/noiseGreyDark.png) repeat left center #e0e0e0;
}
/* line 224, ../scss/forums.scss */
table.threads tr td {
  padding-top: 4px;
  padding-bottom: 4px;
}
/* line 229, ../scss/forums.scss */
table.threads tr .title {
  padding-left: 24px;
  font-size: 1.25em;
}
/* line 233, ../scss/forums.scss */
table.threads tr .title span {
  max-width: 275px;
  display: inline-block;
  position: relative;
}
/* line 238, ../scss/forums.scss */
table.threads tr .title span:before {
  content: '';
  position: absolute;
  left: -16px;
  top: -2px;
  bottom: -2px;
  display: block;
  width: 9px;
  border-style: solid;
  -moz-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  -webkit-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  -webkit-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  -o-border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  border-image: url(../images/noiseWhite.png) 3 2 3 2 repeat repeat;
  border-width: 3px 2px 3px 2px;
}
/* line 252, ../scss/forums.scss */
table.threads tr.threadNew .title span:before {
  background: url(../images/noiseBlue.png) repeat left center;
}
/* line 256, ../scss/forums.scss */
table.threads tr.threadSeen .title span:before {
  background: url(../images/noiseGreyDark.png) repeat left center #e0e0e0;
}
/* line 260, ../scss/forums.scss */
table.threads tr.closed .title span a:after {
  content: " " url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKAQMAAACzCY3DAAAABlBMVEV1dXV1dXWzRrgXAAAAAXRSTlMAQObYZgAAAB9JREFUeF4VxTERAAAIxLAKY0IYdl8GlMsQitYqz+cAOx4G8egZFEcAAAAASUVORK5CYII=");
}
/* line 267, ../scss/forums.scss */
table.threads tr.closed .title span a:before {
  content: 'Locked: ';
  font-weight: bold;
  text-transform: uppercase;
}
/* line 274, ../scss/forums.scss */
table.threads tr.sticky {
  background: url(../images/noiseBeige.png) repeat left center;
}
/* line 279, ../scss/forums.scss */
table.threads tr.sticky:hover {
  background: url(../images/noiseBeigeLight.png) repeat left center #fff5c4;
}
/* line 284, ../scss/forums.scss */
table.threads tr.sticky .title span a:before {
  content: 'Sticky: ';
  font-weight: bold;
  text-transform: uppercase;
}
/* line 291, ../scss/forums.scss */
table.threads tr a {
  color: #515151;
}
/* line 295, ../scss/forums.scss */
table.threads tr a.userLink {
  color: #25bfff;
  font-weight: bold;
}
/* line 305, ../scss/forums.scss */
table.threads thead tr {
  background: transparent;
  border-width: 0;
}
/* line 309, ../scss/forums.scss */
table.threads thead tr:hover {
  background: transparent;
}
/* line 314, ../scss/forums.scss */
table.threads thead th {
  color: #494949;
  padding: 0;
}
/* line 318, ../scss/forums.scss */
table.threads thead th.pageNav {
  vertical-align: bottom;
  font-weight: normal;
  line-height: 1;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}
/* line 329, ../scss/forums.scss */
table.threads thead:after {
  content: '';
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  width: 838px;
  background: url(../images/noiseDivider.png) repeat left center;
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* line 342, ../scss/forums.scss */
table.threads tbody tr:first-of-type {
  border-width: 0;
}

/* line 349, ../scss/forums.scss */
.onlineUsers {
  background: url(../images/noiseWhite.png) repeat left center;
  padding: 1em;
}
/* line 353, ../scss/forums.scss */
.onlineUsers h3 {
  margin: 0 0 0.5em 0;
}
/* line 357, ../scss/forums.scss */
.onlineUsers .userLink {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
}
