/*@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
*/
/* line 5, ../scss/header.scss */
.header {
  margin: 0 0 32px 0;
}

/* line 9, ../scss/header.scss */
h1 {
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Arvil Sans', Arial;
  background: url(../images/noisewhite.png) repeat left center;
  -moz-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  -webkit-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  -webkit-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  -o-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  border-width: 0px 0px 2px 0px;
  padding: 25px 20px;
  height: 120px;
}
/* line 22, ../scss/header.scss */
h1 strong {
  font-size: 1.5em;
  font-weight: normal;
  color: #25bfff;
  letter-spacing: 8px;
}
/* line 29, ../scss/header.scss */
h1 span {
  line-height: 1;
  font-size: 0.75em;
  letter-spacing: 2px;
  font-family: 'Arvil Sans', Arial;
  color: #636363;
  vertical-align: top;
  text-align: center;
  display: block;
}
/* line 48, ../scss/header.scss */
h1 span:before {
  content: '\a';
  display: block;
  height: 1px;
  clear: both;
  font-size: 1px;
}

/* line 58, ../scss/header.scss */
ul.topNav {
  font-family: 'Arvil Sans', Arial;
  font-size: 1.5em;
  display: inline-block;
  padding: 0;
  margin: 66px 0 0 0;
  list-style: none;
  width: 670px;
  background: green;
  background: url(../images/noisewhite.png) repeat left center;
  -moz-border-image: url(../images/noiseblue.png) 0 0 3 0 repeat repeat;
  -webkit-border-image: url(../images/noiseblue.png) 0 0 3 0 repeat repeat;
  -webkit-border-image: url(../images/noiseblue.png) 0 0 3 0 repeat repeat;
  -o-border-image: url(../images/noiseblue.png) 0 0 3 0 repeat repeat;
  border-image: url(../images/noiseblue.png) 0 0 3 0 repeat repeat;
  border-width: 0px 0px 3px 0px;
  float: right;
  position: relative;
}
/* line 75, ../scss/header.scss */
ul.topNav li {
  display: inline-block;
  font-weight: bold;
}
/* line 79, ../scss/header.scss */
ul.topNav li a {
  display: inline-block;
  padding: 0 1em;
  color: #000;
  text-decoration: none;
  line-height: 46px;
}
/* line 88, ../scss/header.scss */
ul.topNav li.selected a {
  background: url(../images/noiseblue.png) repeat left center;
  color: #fff;
  position: relative;
}
/* line 93, ../scss/header.scss */
ul.topNav li.selected a:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 58px 32px 0;
  border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 107, ../scss/header.scss */
ul.topNav:after {
  content: '';
  height: 5px;
  width: 100%;
  background: url(../images/noisewhite.png) repeat left center;
  -moz-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  -webkit-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  -webkit-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  -o-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  border-width: 0px 0px 2px 0px;
  position: absolute;
  bottom: -8px;
  display: block;
}
/* line 120, ../scss/header.scss */
ul.topNav:before {
  content: '';
  height: 3px;
  width: 4px;
  background: url(../images/noisewhite.png) repeat left center;
  bottom: -3px;
  right: 0;
  position: absolute;
  display: inline-block;
}
