/*@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
*/
/* line 3, ../scss/main.scss */
body {
  text-align: center;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #c3c3c3));
  background: -webkit-radial-gradient(#ffffff, #c3c3c3);
  background: -moz-radial-gradient(#ffffff, #c3c3c3);
  background: -o-radial-gradient(#ffffff, #c3c3c3);
  background: radial-gradient(#ffffff, #c3c3c3);
  padding-top: 50px;
}

/* line 9, ../scss/main.scss */
#container {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

/* line 15, ../scss/main.scss */
.alert {
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

/* line 20, ../scss/main.scss */
.content {
  background: #fff;
  border: 1px solid #dfdfdf;
  padding: 16px;
}

/* line 26, ../scss/main.scss */
.clr {
  clear: both;
}

/* line 30, ../scss/main.scss */
ul.sideNav {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}
/* line 36, ../scss/main.scss */
ul.sideNav li {
  display: inline-block;
  position: absolute;
  margin-bottom: 7px;
}
/* line 41, ../scss/main.scss */
ul.sideNav li a {
  color: #fff;
  padding: 12px 16px 12px 28px;
}
/* line 46, ../scss/main.scss */
ul.sideNav li:after {
  position: absolute;
  top: -7px;
  left: 0;
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAHCAMAAADZPFZOAAAAM1BMVEX///93d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3cFyiH2AAAAEHRSTlMA+oQSuzjld/kMtP4u32734uF19AAAAC5JREFUeF5VyLcRwDAAAzEqZ9n7T6tj+SghxfCDpJQ5VirHWsfYmAtj+3Dsfp4HOYMEea3gTjEAAAAASUVORK5CYII=");
}
/* line 53, ../scss/main.scss */
ul.sideNav li.selected:after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHCAMAAAA2/j1wAAAAM1BMVEUSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhPJKAuDAAAAEHRSTlMAhPoSuzjld/kMtP4u3273KDpR6AAAAC9JREFUeF5dyLcBACAMAzCH2sv/10KGDEajIO4QwAeOJyYKlcsXqK1bmDEp1NoaFymYBHmq1F0xAAAAAElFTkSuQmCC");
}

/* line 59, ../scss/main.scss */
h2 {
  padding: 0;
  margin: 0;
}

/* line 64, ../scss/main.scss */
ul.pageNav {
  display: inline-block;
  background: #3d628c;
  color: #d5d5d5;
  -webkit-border-radius: 0.25em 0.25em 0 0;
  -moz-border-radius: 0.25em 0.25em 0 0;
  -ms-border-radius: 0.25em 0.25em 0 0;
  -o-border-radius: 0.25em 0.25em 0 0;
  border-radius: 0.25em 0.25em 0 0;
  border: 1px solid #3d628c;
  border-bottom: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 75, ../scss/main.scss */
ul.pageNav.right {
  float: right;
}
/* line 79, ../scss/main.scss */
ul.pageNav li {
  display: inline-block;
}
/* line 82, ../scss/main.scss */
ul.pageNav li a {
  display: inline-block;
  background: #fff;
}
/* line 87, ../scss/main.scss */
ul.pageNav li a, ul.pageNav li span {
  padding: 0.25em 0.5em;
}
/* line 91, ../scss/main.scss */
ul.pageNav li.firstPage a:before {
  content: '<< ';
}
/* line 94, ../scss/main.scss */
ul.pageNav li.lastPage a:after {
  content: ' >>';
}
/* line 98, ../scss/main.scss */
ul.pageNav li.curPage a {
  background: #3d628c;
  color: #d5d5d5;
}
/* line 103, ../scss/main.scss */
ul.pageNav li:last-child a {
  -webkit-border-radius: 0 0.125em 0 0;
  -moz-border-radius: 0 0.125em 0 0;
  -ms-border-radius: 0 0.125em 0 0;
  -o-border-radius: 0 0.125em 0 0;
  border-radius: 0 0.125em 0 0;
}
/* line 108, ../scss/main.scss */
ul.pageNav.bottom {
  -webkit-border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  -ms-border-radius: 0 0 0.25em 0.25em;
  -o-border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 0.25em 0.25em;
  border: 1px solid #3d628c;
  border-top: none;
}
/* line 113, ../scss/main.scss */
ul.pageNav.bottom li:last-child a {
  -webkit-border-radius: 0 0 0.125em 0;
  -moz-border-radius: 0 0 0.125em 0;
  -ms-border-radius: 0 0 0.125em 0;
  -o-border-radius: 0 0 0.125em 0;
  border-radius: 0 0 0.125em 0;
}

/* line 122, ../scss/main.scss */
.tag-vip:before {
  content: url("../images/tags/vip.png");
  display: inline-block;
}

/* line 122, ../scss/main.scss */
.tag-mod:before {
  content: url("../images/tags/mod.png");
  display: inline-block;
}

/* line 122, ../scss/main.scss */
.tag-admin:before {
  content: url("../images/tags/admin.png");
  display: inline-block;
}

/* line 122, ../scss/main.scss */
.tag-dev:before {
  content: url("../images/tags/dev.png");
  display: inline-block;
}

/* line 122, ../scss/main.scss */
.tag-super:before {
  content: url("../images/tags/super.png");
  display: inline-block;
}

/* line 122, ../scss/main.scss */
.tag-owner:before {
  content: url("../images/tags/owner.png");
  display: inline-block;
}
