/*@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
*/
/* line 3, ../scss/main.scss */
body {
  text-align: center;
  background: url(../images/noiseGrey.png);
  padding: 0;
}

/* line 9, ../scss/main.scss */
#container {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}
/* line 14, ../scss/main.scss */
#container:before {
  content: '';
  display: block;
  background: url(../images/noisewhite.png);
  -moz-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  -webkit-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  -webkit-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  -o-border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  border-image: url(../images/noiseGreyDark.png) 0 0 2 0 repeat repeat;
  border-width: 0px 0px 2px 0px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* line 29, ../scss/main.scss */
.alert {
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

/* line 34, ../scss/main.scss */
.content {
  background: url(../images/noisewhite.png);
  border: 1px solid #dfdfdf;
  padding: 30px;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 42, ../scss/main.scss */
.clr {
  clear: both;
}

/* line 46, ../scss/main.scss */
h2 {
  padding: 0;
  margin: 0 0 0.5em 0;
}
/* line 50, ../scss/main.scss */
h2 a {
  color: #767676;
}

/* line 55, ../scss/main.scss */
ul.pageNav {
  display: inline-block;
  background: #3d628c;
  color: #d5d5d5;
  -webkit-border-radius: 0.25em 0.25em 0 0;
  -moz-border-radius: 0.25em 0.25em 0 0;
  -ms-border-radius: 0.25em 0.25em 0 0;
  -o-border-radius: 0.25em 0.25em 0 0;
  border-radius: 0.25em 0.25em 0 0;
  border: 1px solid #3d628c;
  border-bottom: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 66, ../scss/main.scss */
ul.pageNav.right {
  float: right;
}
/* line 70, ../scss/main.scss */
ul.pageNav li {
  display: inline-block;
}
/* line 73, ../scss/main.scss */
ul.pageNav li a {
  display: inline-block;
  background: #fff;
}
/* line 77, ../scss/main.scss */
ul.pageNav li a:hover {
  background: #e5e5e5;
  text-decoration: none;
}
/* line 83, ../scss/main.scss */
ul.pageNav li a, ul.pageNav li span {
  padding: 0.25em 0.5em;
}
/* line 87, ../scss/main.scss */
ul.pageNav li.firstPage a:before {
  content: '<< ';
}
/* line 90, ../scss/main.scss */
ul.pageNav li.lastPage a:after {
  content: ' >>';
}
/* line 94, ../scss/main.scss */
ul.pageNav li.curPage a {
  background: #3d628c;
  color: #d5d5d5;
}
/* line 99, ../scss/main.scss */
ul.pageNav li:last-child a {
  -webkit-border-radius: 0 0.125em 0 0;
  -moz-border-radius: 0 0.125em 0 0;
  -ms-border-radius: 0 0.125em 0 0;
  -o-border-radius: 0 0.125em 0 0;
  border-radius: 0 0.125em 0 0;
}
/* line 104, ../scss/main.scss */
ul.pageNav.bottom {
  -webkit-border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  -ms-border-radius: 0 0 0.25em 0.25em;
  -o-border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 0.25em 0.25em;
  border: 1px solid #3d628c;
  border-top: none;
}
/* line 109, ../scss/main.scss */
ul.pageNav.bottom li:last-child a {
  -webkit-border-radius: 0 0 0.125em 0;
  -moz-border-radius: 0 0 0.125em 0;
  -ms-border-radius: 0 0 0.125em 0;
  -o-border-radius: 0 0 0.125em 0;
  border-radius: 0 0 0.125em 0;
}

/* line 118, ../scss/main.scss */
.tag-vip:before {
  content: url("../images/tags/vip.png") " ";
  display: inline-block;
  white-space: pre;
  vertical-align: middle;
  height: 16px;
}

/* line 118, ../scss/main.scss */
.tag-mod:before {
  content: url("../images/tags/mod.png") " ";
  display: inline-block;
  white-space: pre;
  vertical-align: middle;
  height: 16px;
}

/* line 118, ../scss/main.scss */
.tag-admin:before {
  content: url("../images/tags/admin.png") " ";
  display: inline-block;
  white-space: pre;
  vertical-align: middle;
  height: 16px;
}

/* line 118, ../scss/main.scss */
.tag-dev:before {
  content: url("../images/tags/dev.png") " ";
  display: inline-block;
  white-space: pre;
  vertical-align: middle;
  height: 16px;
}

/* line 118, ../scss/main.scss */
.tag-super:before {
  content: url("../images/tags/super.png") " ";
  display: inline-block;
  white-space: pre;
  vertical-align: middle;
  height: 16px;
}

/* line 118, ../scss/main.scss */
.tag-owner:before {
  content: url("../images/tags/owner.png") " ";
  display: inline-block;
  white-space: pre;
  vertical-align: middle;
  height: 16px;
}

/* line 129, ../scss/main.scss */
#chatbox .chats {
  font-size: 0.75em;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -ms-border-radius: 0.5em 0.5em 0 0;
  -o-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  height: 170px;
  padding: 8px;
  overflow: auto;
  overflow-x: hidden;
  background: #fff;
}
/* line 142, ../scss/main.scss */
#chatbox .chat a.userLink:before {
  line-height: 1.0;
  vertical-align: middle;
}
/* line 148, ../scss/main.scss */
#chatbox .chat-date {
  font-style: italic;
}
/* line 152, ../scss/main.scss */
#chatbox .chat ~ .chat-date {
  margin-top: 1em;
}
/* line 156, ../scss/main.scss */
#chatbox input {
  width: 100%;
  border: 1px solid #d8d8d8;
  padding: 4px 10px;
  -webkit-box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.125);
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -moz-border-radius: 0 0 0.5em 0.5em;
  -ms-border-radius: 0 0 0.5em 0.5em;
  -o-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
}

/* line 166, ../scss/main.scss */
.dimensions {
  position: absolute;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 2px 0 0 2px;
  padding: 0.5em;
  font-size: 0.8em;
}
/* line 175, ../scss/main.scss */
.dimensions:hover {
  color: #fff;
}

/* line 180, ../scss/main.scss */
.tinyImage {
  border: 2px solid #a54;
  cursor: pointer;
}
/* line 184, ../scss/main.scss */
.tinyImage.expanded {
  max-width: none;
}

/* line 189, ../scss/main.scss */
.missing42 {
  width: 42px;
  height: 42px;
  display: inline-block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqAQMAAAD/DVsYAAAABlBMVEX4APgAAAAfdBzzAAAAJUlEQVR4Xs3OoQEAAARFwScZy+p/LAlDEKSrB5HW2tLyghselgat1Xgl/EfvxwAAAABJRU5ErkJggg==") no-repeat;
}

/* line 196, ../scss/main.scss */
.missing52 {
  width: 42px;
  height: 42px;
  display: inline-block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0AQMAAAD/tomoAAAABlBMVEX4APgAAAAfdBzzAAAAKUlEQVR4Xt3PQQkAAAjAwIEBjGR1IxlAUEvoQxjce6DlUrHmZAlXfvtpTQiymQ2xdWAAAAAASUVORK5CYII=") no-repeat;
}

/* line 203, ../scss/main.scss */
.modDropdown {
  display: inline-block;
  position: relative;
}
/* line 207, ../scss/main.scss */
.modDropdown .star {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIwSURBVDjLlZLNS5RRFMafe9/3vjPOjI1jaKKEVH40tGgRBWEibfoPQoKkVdtoEQQF4T/QqkVtWrSTFrVsF1FgJbWpIAh1k2PNh+PrfL4f95zTQk0HHKkDD/cc7vP8uHCuEhF0q/KnmXNgGR248PZFN4/GISXMC8L89DBPV0Dp4/SsazJjrtfb9/vdxfn/BgjzY5M8Aq8nBya+V3h93vtnQHFxat4kszntJAAAxus1YvnZQV5V/jyTEZarwnwFLGeFZdT0ZFOJdD84qoCDOpQ7grZfRNj020JSEOKvwvxGiF+q0tL0N5PuO+Mk0nC0B0BDsYCCImyzAIktBBloMwKJLSgKYcMAcdhC2KpVlIig+H5qxcv0n0xmj4Gbq+BwC2wtJLbgHUlMEFJwUpMIGpto16u+kJzSACAk+WCzvNbe+AVljkOYIcQQou3TbvdOJo+g4aNdqzaF+PT43HJVA8DQpcVIiPPtaqlEUQzlDELsTpgYwgTAQIjQqlUCtpQfn1spdmxh+PJSQyw9CrbKgM7tvcISQAxlBhC3GuCYXk3cWP25m3M7dk88qbWBRDVApaATOSjPBdXXwYEP5QyCgvjE/kwHgInHtHYBnYA2owhrPiiuw0sOw3EZFEagIB7qChDiYaUcNIoFtP1KxCTPhWiDw7WbXk9vKpnOgsI4exjg6Mbq96YQPxm79uPOvqvbXx4O3KrF6w8osv2df17kr5YXJq7vnw/S0v3k7Ie7xtud/wAaRnP+Cw8iKQAAAABJRU5ErkJggg== ") no-repeat;
}
/* line 216, ../scss/main.scss */
.modDropdown:hover .star {
  -webkit-animation-name: spin;
  -moz-animation-name: spin;
  -ms-animation-name: spin;
  -o-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
/* line 224, ../scss/main.scss */
.modDropdown ul {
  display: none;
  position: absolute;
  z-index: 999;
  list-style: none;
  padding: 0;
  margin: 0;
  right: 0;
  top: 16px;
  text-align: right;
  background: #eee;
  border: 1px solid #000;
}
/* line 237, ../scss/main.scss */
.modDropdown ul.mod-thread {
  left: 0;
  right: auto;
}
/* line 243, ../scss/main.scss */
.modDropdown ul li a {
  display: block;
  white-space: pre;
  padding: 0 4px;
}
/* line 248, ../scss/main.scss */
.modDropdown ul li ~ li {
  border-top: 1px solid #000;
}

@-moz-keyframes spin {
  /* line 256, ../scss/main.scss */
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 259, ../scss/main.scss */
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  /* line 256, ../scss/main.scss */
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 259, ../scss/main.scss */
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  /* line 256, ../scss/main.scss */
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 259, ../scss/main.scss */
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  /* line 256, ../scss/main.scss */
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 259, ../scss/main.scss */
  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 256, ../scss/main.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 259, ../scss/main.scss */
  to {
    transform: rotate(360deg);
  }
}

/* line 264, ../scss/main.scss */
.popupContainer {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 100px 0;
  z-index: 9998;
}

/* line 276, ../scss/main.scss */
.popup {
  padding: 1em;
  width: 80%;
  max-width: 600px;
  min-height: 100px;
  margin: 0 auto;
  z-index: 9999;
  top: 100px;
  background: #eee;
}

/* line 287, ../scss/main.scss */
.popupCloseLink {
  font-size: 0.75em;
}
/* line 290, ../scss/main.scss */
.popupCloseLink:before {
  margin-top: 2em;
  content: '\a';
  display: block;
}

/* line 297, ../scss/main.scss */
table {
  width: 100%;
}

/* line 305, ../scss/main.scss */
a[target="_blank"]:after {
  content: " " url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAD1BMVEX///////////////////+Rd1MVAAAABHRSTlMAaeRqY+AomwAAADNJREFUeF4lxIEJACAMBLErdACRjuIAX/n9Z7IghEDYhlwkcGe7Z+Xac4cLnVKjkOCzLR6tNQaTLNDT1wAAAABJRU5ErkJggg==");
  white-space: pre;
}

/* line 310, ../scss/main.scss */
.login {
  width: 154px;
  height: 23px;
  background: url(../images/steam_signin.png) no-repeat;
  display: inline-block;
  border: none;
  font-size: 1px;
  color: transparent;
}

/* line 320, ../scss/main.scss */
.curse {
  font-weight: bold;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
}
