/* line 4, ../scss/posts.scss */
#postContent {
  max-width: 100%;
}

/* line 9, ../scss/posts.scss */
.createThread label {
  display: block;
}
/* line 13, ../scss/posts.scss */
.createThread #postTitle {
  width: 621px;
}
