/*@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
*/
/* line 6, ../scss/servers.scss */
.server {
  padding: 3px;
  margin: 1em 0 2em 0;
  background: #fff;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}
/* line 12, ../scss/servers.scss */
.server .name {
  background: url(../images/noiseblack.png) repeat left center;
  padding: 1em;
  color: #fff;
}
/* line 18, ../scss/servers.scss */
.server .name h3 {
  font-family: 'Arvil Sans', Arial;
  letter-spacing: 1px;
}
/* line 23, ../scss/servers.scss */
.server .name .playerCount {
  float: right;
}
/* line 28, ../scss/servers.scss */
.server h3 {
  margin: 0;
  font-size: 2.1em;
}
/* line 33, ../scss/servers.scss */
.server .percent {
  height: 4px;
  background: url(../images/noiseGrey.png) repeat left center;
  margin: 3px 0;
  padding: 0;
}
/* line 41, ../scss/servers.scss */
.server .percent .playerPercent {
  background: url(../images/noisegreen.png) repeat left center;
  display: inline-block;
  height: 4px;
  margin: 0;
  vertical-align: top;
}
/* line 51, ../scss/servers.scss */
.server .details {
  background: url(../images/noisewhite.png) repeat left center;
  padding: 0.25em 0.25em 0.25em 0.5em;
}
/* line 56, ../scss/servers.scss */
.server .details .joinServer {
  text-decoration: none;
  float: right;
  color: #fff;
  font-family: 'Arvil Sans', Arial;
  font-size: 1.7em;
  padding: 0.125em 1em;
  letter-spacing: 1px;
  background: url(../images/noiseblue.png) repeat left center;
}
/* line 68, ../scss/servers.scss */
.server .details .joinServer:hover {
  text-decoration: none;
  background: url(../images/noiseBlueDark.png) repeat left center;
}
/* line 75, ../scss/servers.scss */
.server .details dl {
  font-size: 0.8em;
  margin: 0;
}
/* line 79, ../scss/servers.scss */
.server .details dl dt {
  font-weight: normal;
  color: #888;
  display: inline-block;
  min-width: 100px;
  float: left;
  clear: left;
  padding: 0.25em 0;
}
/* line 89, ../scss/servers.scss */
.server .details dl dd {
  display: inline-block;
  padding: 0.25em 0;
  float: left;
}
/* line 95, ../scss/servers.scss */
.server .details dl:after {
  content: '';
  display: block;
  clear: both;
  width: 100%;
  background: green;
}
