/*@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
*/
/* MAIN SPRITES */
/* line 594, ../images/sprites/main/*.png */
DELETE_ME_MAIN_SPRITES, .sprite.banUser:before, .sprite.reportUser:before, .sprite.userProfile:before, .sprite.mod-demoteUser:before, .sprite.mod-promoteUser:before, .sprite.mod-banUser:before, .sprite.globalRank:before, .sprite.victories:before, .sprite.mod-closeThread:before, .sprite.mod-stickyThread:before, .sprite.mod-unstickyThread:before, .sprite.mod-moveThread:before, .sprite.mod-deleteThread:before, .sprite.mod-renameThread:before, .sprite.edit:before, .sprite.edit:hover:before, .sprite.modButton:before, .sprite.modButton:hover:before, .sprite.profile:before, .sprite.profile:hover:before, .sprite.quote:before, .sprite.quote:hover:before {
  background: url('../images/../images/sprites/main-s65226789a6.png') no-repeat;
}

/* line 30, ../scss/sprites.scss */
.sprite {
  line-height: 1.0;
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
/* line 41, ../scss/sprites.scss */
.sprite:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: url('../images/../images/sprites/main-s65226789a6.png') 0 -629px no-repeat transparent;
}
/* line 55, ../scss/sprites.scss */
.sprite.banUser:before {
  background-position: 0 0;
  width: 14px;
  left: 9px;
  height: 13px;
  top: 9.5px;
}
/* line 55, ../scss/sprites.scss */
.sprite.reportUser:before {
  background-position: -26px -14px;
  width: 15px;
  left: 8.5px;
  height: 15px;
  top: 8.5px;
}
/* line 55, ../scss/sprites.scss */
.sprite.userProfile:before {
  background-position: -27px 0;
  width: 13px;
  left: 9.5px;
  height: 14px;
  top: 9px;
}
/* line 65, ../scss/sprites.scss */
.sprite.mod-demoteUser:before {
  background-position: 0 -29px;
  width: 14px;
  left: 9px;
  height: 13px;
  top: 9.5px;
}
/* line 65, ../scss/sprites.scss */
.sprite.mod-promoteUser:before {
  background-position: -12px -14px;
  width: 14px;
  left: 9px;
  height: 13px;
  top: 9.5px;
}
/* line 65, ../scss/sprites.scss */
.sprite.mod-banUser:before {
  background-position: 0 0;
  width: 14px;
  left: 9px;
  height: 13px;
  top: 9.5px;
}
/* line 65, ../scss/sprites.scss */
.sprite.globalRank:before {
  background-position: 0 -14px;
  width: 12px;
  left: 10px;
  height: 12px;
  top: 10px;
}
/* line 65, ../scss/sprites.scss */
.sprite.victories:before {
  background-position: 0 -53px;
  width: 15px;
  left: 8.5px;
  height: 16px;
  top: 8px;
}
/* line 90, ../scss/sprites.scss */
.sprite.mod-closeThread:before {
  background-position: 0 -309px;
}
/* line 90, ../scss/sprites.scss */
.sprite.mod-stickyThread:before, .sprite.mod-unstickyThread:before {
  background-position: 0 -1717px;
}
/* line 90, ../scss/sprites.scss */
.sprite.mod-moveThread:before {
  background-position: 0 -1237px;
}
/* line 90, ../scss/sprites.scss */
.sprite.mod-deleteThread:before {
  background-position: 0 -437px;
}
/* line 90, ../scss/sprites.scss */
.sprite.mod-renameThread:before {
  background-position: 0 -597px;
}
/* line 115, ../scss/sprites.scss */
.sprite.edit {
  background: transparent;
}
/* line 118, ../scss/sprites.scss */
.sprite.edit:hover {
  background: url(../images/noiseGreyDark.png) repeat left center #e0e0e0;
}
/* line 122, ../scss/sprites.scss */
.sprite.edit:before {
  background-position: 0 -565px;
}
/* line 127, ../scss/sprites.scss */
.sprite.edit:hover:before {
  background-position: 0 -597px;
}
/* line 115, ../scss/sprites.scss */
.sprite.modButton {
  background: transparent;
}
/* line 118, ../scss/sprites.scss */
.sprite.modButton:hover {
  background: url(../images/noiseGreyDark.png) repeat left center #e0e0e0;
}
/* line 122, ../scss/sprites.scss */
.sprite.modButton:before {
  background-position: 0 -1141px;
}
/* line 127, ../scss/sprites.scss */
.sprite.modButton:hover:before {
  background-position: 0 -1173px;
}
/* line 115, ../scss/sprites.scss */
.sprite.profile {
  background: transparent;
}
/* line 118, ../scss/sprites.scss */
.sprite.profile:hover {
  background: url(../images/noiseGreyDark.png) repeat left center #e0e0e0;
}
/* line 122, ../scss/sprites.scss */
.sprite.profile:before {
  background-position: -15px -53px;
}
/* line 127, ../scss/sprites.scss */
.sprite.profile:hover:before {
  background-position: 0 -1365px;
}
/* line 115, ../scss/sprites.scss */
.sprite.quote {
  background: transparent;
}
/* line 118, ../scss/sprites.scss */
.sprite.quote:hover {
  background: url(../images/noiseGreyDark.png) repeat left center #e0e0e0;
}
/* line 122, ../scss/sprites.scss */
.sprite.quote:before {
  background-position: 0 -1493px;
}
/* line 127, ../scss/sprites.scss */
.sprite.quote:hover:before {
  background-position: 0 -1525px;
}
