@import "base";

.blog {
  padding: 0;
  @include noiseBorder(Divider, 0, 0, 2, 0);

  ul.categories {
    list-style: none;
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Arvil Sans', Arial;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 1em 0 0;

      a {
        color: $graey;
      }

      &.selected a {
        color: $blue;
      }
    }
  }

  .blogPost {
    padding: 1.5em 0;
    //border-bottom: 2px solid #ddd;
    @include noiseBorder(Divider, 2, 0, 0, 0);
    @include force-wrap;

    img {
      max-width: 100%;
    }

    h3 {
      display: inline-block;
      float: left;
      padding: 0;
      margin: 0;

      a {
        color: #555;
        font-weight: bold;
      }
    }

    a {
      color: $blue;
    }

    .postDetails {
      color: $graey;
      display: block;
      @include noise("Grey");
      @include noiseBorder(GreyDark, 2, 0, 0, 0);
      padding: 7px 10px;

      .user-link:before {
        @include noise(User, no-repeat);
        content: '';
        height: 11px;
        width: 20px;
        display: inline-block;
      }

      .timestamp {
        color: $graey;
        @include noise(Clock, no-repeat);
        display: inline-block;
        padding: 0 0 0 22px;
        margin: 0 0 0 20px;
        font-weight: bold;
      }

      .comments {
        color: $graey;
        float: right;
        clear: both;
        display: inline-block;
        padding: 0 0 0 22px;
        min-height: 14px;
        vertical-align: middle;
        @include noise(Comment, no-repeat);
        font-weight: bold;
      }
    }

    p {
      clear: both;
      padding-top: 1em;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

}