@import "base";

.newThreadLink {
  float: right;
}

.table {
  width: 896px - $contentPadding * 2;
  border: none;
  margin: 0;
  display: block;
}

.page-forum {
  .modDropdown {
    //right: 12px;/
    float: right;
  }

  h2 {
    margin: 0;
  }
}

.table.subforums {

  .row {
    background: $subforumBg;
    //color: #949495;
    //color: #94a9c0;
    //color: #ccc;
    color: #aaa;
    //color: #838383;
    min-height: 32px;
    padding: 0 0 0 30px;
    display: block;
    margin: 0 0 1em 0;
    text-align: right;
    position: relative;

    @include flexbox();


    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      bottom: 7px;
      left: 7px;
      width: 10px;
    }

    &.head {
      @include noiseBorder(Divider, 0, 0, 2, 0);
      background: transparent;
      padding: 0;
      color: #999;
      margin: 0 0 15px 0;
      vertical-align: bottom;
      min-height: 0;
      font-weight: bold;
      text-align: left;

      .cell {
        padding: 0;

        & + .cell {
          float: right;
          width: 200px;
        }
      }

    }

    .cell {
      display: inline-block;
      padding: 4px 0;

      &.noSubforums {
        margin-top: 8px;
        line-height: 1.2;
      }

      &.forumInfo {
        float: left;
        text-align: left;
        line-height: 1;
        @include flex(2);

        .forumName, .description {
          display: inline-block;
          float: left;
        }

        .forumName {
          font-size: 14pt;
          font-weight: bold;
          color: #fff;
        }

        .description {
          font-size: 0.85em;
          clear: left;
          margin: 4px 0 0 0;
        }

        ul.subforums {
          display: inline-block;
          list-style: none;
          float: left;
          clear: left;
          padding: 0;
          margin: 4px 0 0 0;
          line-height: 1.0;
          font-size: 0.8em;

          li {
            display: inline-block;

            a {
              display: inline-block;
              padding: 0.1em 0.5em;
              //background: #2c4b6d;
              @include noise(BlackLight);
              box-shadow: 0 0 0.25em rgba(#fff, 0.25);
              color: #fff;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }

      &.postCount {
        line-height: 52px;
        vertical-align: top;
        margin: 0 1em 0 0;
        @include flex(1);
      }

      &.lastPostInfo {
        text-align: left;
        display: inline-block;
        //float: right;
        // apparently a float here breaks randomly in chrome. weird rounding error?
        //background: #e7e7e7;
        @include noise("Grey");
        margin: 2px;
        padding: 5px;
        min-width: 200px;
        min-height: 56px;
        @include flex(1);

        .avatar {
          vertical-align: top;
          width: 46px;
          height: 46px;
          //@include border-radius(0.25em);
          vertical-align: middle;
          outline: 2px solid #bebebe;
        }

        .subPostInfo {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.2em;
        }

        .timestamp, .userLink, .viewLink {
          display: block;
          font-size: 0.65em;
        }

        .timestamp {
          color: #929292;
        }
        .userLink {
          color: #4b4b4b;
          font-weight: bold;
        }
        .viewLink {
          color: $blue;
        }

      }

    }
  }

  .row.forumNew {
    &:before {
      @include noise("Blue");
      @include noiseBorder("White", 3, 2, 3, 2);
    }
  }

  .row.forumSeen {
    &:before {
      @include noise(GreyDark);
      @include noiseBorder("White", 3, 2, 3, 2);
    }
  }

}

table.threads {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  .pageNav {
    float: right;
  }

  tr {
    color: #515151;
    height: 40px;
    //background-color: #e5e5e5;
    @include noise("Grey");
    font-size: 0.75em;
    @include noiseBorder(GreyMedium, 7, 0, 0, 0);

    &:hover {
      @include noise(GreyDark);
    }

    td {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .title {
      padding-left: 24px;
      font-size: 1.25em;

      span {
        max-width: 275px;
        display: inline-block;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: -16px;
          top: -2px;
          bottom: -2px;
          display: block;
          width: 9px;
          @include noiseBorder("White", 3, 2, 3, 2);
        }

      }
    }

    &.threadNew .title span:before {
      @include noise("Blue");
    }

    &.threadSeen .title span:before {
      @include noise(GreyDark);
    }

    &.closed .title span a:after {
      content: " " url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKAQMAAACzCY3DAAAABlBMVEV1dXV1dXWzRrgXAAAAAXRSTlMAQObYZgAAAB9JREFUeF4VxTERAAAIxLAKY0IYdl8GlMsQitYqz+cAOx4G8egZFEcAAAAASUVORK5CYII=');
    }

    &.closed {
      //opacity: 0.6;

      .title span a:before {
        content: 'Locked: ';
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &.sticky {
      //background-color: #f2ecb6;
      //opacity: 1.0;
      @include noise(BeigeLight);

      &:hover {
        //background-color: #fffad9;
        @include noise("Beige");
      }

      .title span a:before {
        content: 'Sticky: ';
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    a {
      color: #515151;
    }

    a.userLink {
      color: $blue;
      font-weight: bold;
    }
  }

  thead {
    //border: 1px solid #d8d8d8;
    // fake border down there

    tr {
      background: transparent;
      border-width: 0;

      &:hover {
        background: transparent;
      }
    }

    th {
      color: #494949;
      padding: 0;

      &.pageNav {
        vertical-align: bottom;
        font-weight: normal;
        line-height: 1;
        padding: 0;
        margin: 0;
        font-size: 1.2em;
      }
    }

    // tables!! :argh:... lets fake a border
    &:after {
      content: '';
      height: 2px;
      display: block;
      position: absolute;
      left: 0;
      width: 866px + 32px - $contentPadding * 2;
      @include noise(Divider);
      @include transform(translateY(-8px));
    }
  }

  tbody {
    & tr:first-of-type {
      border-width: 0;
    }
  }

}

.onlineUsers {
  //@include noise("White");
  padding: 1em 0 0 0;

  //h4 {
  //  margin: 0 0 0.5em 0;
  //}

  .userLink {
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
  }

}


