@import "base";

.table {
  width: 866px;
  //WHY??
  border: none;
  margin: 0;
  display: block;
}

.table.subforums {

  .row {
    background: $subforumBg;
    //color: #949495;
    color: #94a9c0;
    min-height: 32px;
    padding: 0 0 0 48px;
    @include border-radius(0.25em);
    display: block;
    margin: 0 0 1em 0;
    text-align: right;

    &.head {
      border-bottom: 1px solid #494949;
      background: transparent;
      padding: 0;
      color: #494949;
      margin: 0 0 15px 0;
      @include border-radius(0);
      vertical-align: bottom;
      min-height: 0;
      font-weight: bold;
      text-align: left;

      .cell {
        padding: 0;

        & + .cell {
          float: right;
          width: 200px;
        }
      }

    }

    .cell {
      display: inline-block;
      padding: 4px 0;

      &.forumInfo {
        float: left;
        text-align: left;

        &.noSubforums {
          margin-top: 8px;
        }

        .forumName, .description {
          display: inline-block;
          line-height: 1.0;
          float: left;
        }

        .forumName {
          font-size: 14pt;
          font-weight: bold;
          color: #fff;
        }

        .description {
          font-size: 0.85em;
          clear: left;
          margin: 4px 0 0 0;
        }

        ul.subforums {
          display: inline-block;
          list-style: none;
          float: left;
          clear: left;
          padding: 0;
          margin: 4px 0 0 0;
          line-height: 1.0;
          font-size: 0.8em;

          li {
            display: inline-block;

            a {
              display: inline-block;
              padding: 0.1em 0.5em;
              background: #2c4b6d;
              //border: 1px solid rgba(#fff, 0.25);
              box-shadow: 0 0 0.25em rgba(#fff, 0.25);
              @include border-radius(0.25em);
              color: #fff;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }

      &.postCount {
        //color: #bababa;
        color: #94a9c0;
        line-height: 52px;
        vertical-align: top;
        margin: 0 1em 0 0;
      }

      &.lastPostInfo {
        text-align: left;
        display: inline-block;
        float: right;
        background: #fff;
        @include border-radius(0.25em);
        margin: 2px;
        padding: 2px;
        min-width: 200px;
        min-height: 56px;

        .avatar {
          vertical-align: top;
          width: 52px;
          height: 52px;
          @include border-radius(0.25em);
          vertical-align: middle;
        }

        .subPostInfo {
          display: inline-block;
          vertical-align: middle;
        }

        .timestamp, .userLink, .viewLink {
          display: block;
          font-size: 0.65em;
        }

        .timestamp {
          color: #929292;
        }
        .userLink {
          color: #4b4b4b;
          font-weight: bold;
        }
        .viewLink {
          color: #385464;
        }

      }

    }
  }

  .row.forumNew {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEX////////////////////////////////7/fpnvTj///93xE2w3Zir25F1w0t0wkiv3Jat25NOxqYUAAAACHRSTlPqBoeE5I3nii1WPakAAABgSURBVHhe7dNJCoAwDEDRpJNJZ+9/WUUUau2wdKEfsspbBQIole2mJIKwwwTAGBx78o7PnKda7JO5KDdAKkFqAL71WTA/VC7B2gAU4gVioAeoew38YCJg9rwLoDZ9YDRu5Dsm96QNNE0AAAAASUVORK5CYII=') no-repeat 8px center $subforumBg;
  }

  .row.forumSeen {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAMFBMVEX////////////////////////////////f39/////Hx8fIyMjd3d3+/v7CwsLe3t7mcNmfAAAACHRSTlMG6oeE5OeNiud7DD8AAABqSURBVHhe1dG9CYAwGIThA8EdHMHONRzBznXESlH0E2LvBhZu4AQZwSa9nb8cSRYQ3/KpDg5BKlZNglicakQuVBBVmrNZvwLpzV1BGB6YCOMD28fAYf70naDWCxZNYP8H/0r/7A5hZkObH+4YTEk1WQzWAAAAAElFTkSuQmCC') no-repeat 8px center $subforumBg;

  }

}

table.threads {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  .pageNav {
    float: right;
  }

  tr {
    color: #515151;
    height: 25px;
    background-color: #e5e5e5;
    font-size: 0.75em;
    border-top: 7px solid #fff;

    td {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .title {
      padding-left: 32px;
      font-size: 1.25em;
      position: relative;

      span {
        max-width: 275px;
        display: inline-block;
      }
    }

    &.threadNew .title {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAATlBMVEX///////////////////////////////////////////+Ozmv///+NzWlqvjxpvjtnvTh2w0yOzmyLzWiNzmq74aaKzGWc1H2a03uKzGYLR4gOAAAAC3RSTlPe4bb9plNK4N+5uFc0eh4AAABZSURBVHhepczJDoUgEETRamZsnKf3/v9HNbBoA3HlXZ5UCs4ESME4KJ2eaQVK85A7CxGQxil3FMEtQ5GlEX4V+embzSry+zNzv+0i0hehSghdJR1s9JB8tBcwDgvd/QYRIgAAAABJRU5ErkJggg==') no-repeat 4px center;
    }

    &.threadSeen .title {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAAPFBMVEX////////////////////////////////////////////S0tLR0dH////Q0NDX19fDw8PCwsLIyMjk5OQj0fLoAAAAC3RSTlPe4f1K36a5tlO44J4ZVbgAAABMSURBVHhepcg5DoAwDATAdc7DzgH8/69ISWGUggKmHFjvoJy3iKY+mQiq55j6KgLqOKa2Bjr8aeRtemNmkUtH/RnahpC3yUihQJWQboMbDHlKFy9FAAAAAElFTkSuQmCC') no-repeat 4px center;
    }

    &.closed .title span:before {
      //content: '';
      //position: absolute;
      //// top:7px;
      //// firefox sux!!!!
      //left: 23px;
      //display: inline-block;
      //background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKAQMAAACzCY3DAAAABlBMVEV1dXV1dXWzRrgXAAAAAXRSTlMAQObYZgAAAB9JREFUeF4VxTERAAAIxLAKY0IYdl8GlMsQitYqz+cAOx4G8egZFEcAAAAASUVORK5CYII=') no-repeat 0 bottom;
      //height: 14px;
      //width: 8px;
    }

    &.closed .title:after {
      content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKAQMAAACzCY3DAAAABlBMVEV1dXV1dXWzRrgXAAAAAXRSTlMAQObYZgAAAB9JREFUeF4VxTERAAAIxLAKY0IYdl8GlMsQitYqz+cAOx4G8egZFEcAAAAASUVORK5CYII=');
    }

    &.closed {
      //opacity: 0.6;

      .title span a:before {
        content: 'Locked: ';
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &.sticky {
      background-color: #f2ecb6;
      //opacity: 1.0;

      .title span a:before {
        content: 'Sticky: ';
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    a {
      color: #515151;
    }

    a.userLink {
      color: #385464;
    }

  }

  thead {

    tr {
      background: transparent;
    }

    th {
      color: #494949;

      padding: 0;

      &.pageNav {
        vertical-align: bottom;
        font-weight: normal;
      }
    }

    // tables!! :argh:... lets fake a border
    &:after {
      content: '';
      height: 1px;
      display: block;
      position: absolute;
      left: 0;
      width: 866px;
      background: $subforumBg;
      @include transform(translateY(-1px));
    }
  }

}




