@import "base";

h1 {
  vertical-align: top;
  padding: 0 0 0 80px;
  margin: 0 0 32px 0;
  background: url(../images/logo.png) left center no-repeat;
  display: inline-block;
  text-transform: uppercase;
  font-family: Arvil, Arial;
  // FIXME THIS FONT IS BROKEN!!!

  strong {
    font-size: 1em;
    font-weight: normal;
    color: #404041;

    &:before {
      text-transform: uppercase;
      content: 'Skeyler';
      position: absolute;
      @include transform(scaleY(0.4) skewX(-30deg) translateX(-5px) translateY(-3px));
      @include transform-origin(50%, 100%);
      line-height: 1.0;
      pointer-events: none;
      // a pathetic attempt to get IE to not allow you to select :before text
      color: rgba(0, 0, 0, 0.3);
      color: rgba(0, 0, 0, 0.2);
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      //color: #D1D2D4;
      z-index: -1;
    }
  }

  span {
    vertical-align: top;
    line-height: 1;
    font-size: .5em;

    &:before {
      content: 'a\a';
      display: block;
      height: 1px;
      clear: both;
      font-size: 1px;
    }
  }
}

ul.topNav {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;

  li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 0.5em 1em;
      color: #646464;
      text-decoration: none;
      font-family: Arial;
      @include border-radius(0.5em);
    }

    &.selected a {
      background: #42474a;
      color: #f2f2f2;
    }
  }
}

ul.subNav {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    font-size: 0.75em;
    line-height: 1.0;
    @include background(linear-gradient(#fff, #eee));
    border: 1px solid $borderGray;
    border-bottom: 0px;
    @include border-radius(0.5em 0.5em 0 0);

    a {
      display: inline-block;
      color: #6f6f6f;

      padding: 6px 16px 6px 16px;
      text-decoration: none;
    }

    &.selected {
      position: relative;
      top: 1px;
      background: #fff;

      a {
        padding-top: 10px;
        position: relative;
        top: -1px;

      }
    }
  }
}

ul.breadcrumbs {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    font-size: 0.85em;

    a {
      color: #767676;
    }
  }

  li ~ li:before {
    content: ' > ';
  }
}

ul.welcome {
  float: right;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0.85em;

  li {
    display: inline-block;

    a {
      color: #545d63;
      margin: 0 0.25em;
      font-weight: bold;
    }
  }

  li + li ~ li:before {
    content: ' | ';
  }

  .avatar {
    vertical-align: middle;
    height: 16px;
    width: 16px;
    margin-right: 4px;

  }

}

h2 {
  color: #565656;
  font-family: Arial;
  font-size: 1.5em;
  font-weight: bold;

}



