@import "base";

$headerHeight: 120px;

.header {
  margin: 0 0 32px 0;

  .topNavExpander {
    display: none;
  }
}

h1 {
  //vertical-align: top;
  margin: 0;
  //background: url(../images/logo.png) left 8px no-repeat;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Arvil Sans', Arial;

  @include noise("White");
  @include noiseBorder(GreyDark, 0, 0, 2, 0);
  padding: 25px 20px;
  height: $headerHeight;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  strong {
    font-size: 1.5em;
    font-weight: normal;
    color: $blue;
    letter-spacing: 8px;
  }

  span {
    line-height: 1;
    font-size: 0.75em;
    letter-spacing: 2px;
    //font-family: Univers, Arial;
    font-family: 'Arvil Sans', Arial;
    //font-style: italic;
    color: #636363;
    vertical-align: top;
    text-align: center;
    display: block;

    //em {
    //  color: $orange;
    //  font-weight: bold;
    //  vertical-align: top;
    //  //text-shadow: 0 0 0.25em rgba(0, 0, 0, .1);
    //}

    &:before {
      content: '\a';
      display: block;
      height: 1px;
      clear: both;
      font-size: 1px;
    }
  }
}

ul.topNav {

  $liHeight: 46px;
  font-family: 'Arvil Sans', Arial;
  font-size: 1.5em;

  display: inline-block;
  padding: 0;
  margin: ($headerHeight - $liHeight - 8px) 0 0 0;
  list-style: none;
  width: $mainWidth - 230px;
  @include noise("White");
  @include noiseBorder("Blue", 0, 0, 3, 0);
  float: right;
  position: relative;

  li {
    display: inline-block;
    //font-weight: bold;

    a {
      display: inline-block;
      padding: 0 1em;
      color: #000;
      text-decoration: none;
      //@include border-radius(0.5em);
      line-height: $liHeight;

      &:hover {
        @include noise(GreyMedium);
        color: #222;
        position: relative;

        //&:before {
        //  content: '';
        //  background:rgba(#000, 0.1);
        //  display: block;
        //  position: absolute;
        //  top: 0;
        //  left: 0;
        //  height: 1px;
        //  width: 100%;
        //}

        //&:before {
        //  content: '';
        //  @include noise(BlueLight);
        //  background:rgba(#fff, 0.5);
        //  display: block;
        //  position: absolute;
        //  bottom: -3px;
        //  left: 0;
        //  height: 3px;
        //  width: 100%;
        //  //z-index: 100;
        //}
        //&:after{
        //  content: '';
        //  width: 0px;
        //  height: 0px;
        //  border-style: solid;
        //  border-width: 0 58px 32px 0;
        //  border-color: transparent rgba(#fff, 0.2) transparent transparent;
        //  position: absolute;
        //  top: 0;
        //  right: 0;
        //}
      }
    }

    &.selected a {
      @include noise("Blue");
      color: #fff;
      position: relative;

      &:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 58px 32px 0;
        border-color: transparent rgba(#fff, 0.2) transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  &:after {
    content: '';
    height: 5px;
    width: 100%;
    @include noise("White");
    @include noiseBorder(GreyDark, 0, 0, 2, 0);
    //background:green;
    //border-bottom:2px solid red;
    position: absolute;
    bottom: -8px;
    display: block;
  }

  &:before {
    content: '';
    height: 3px;
    width: 4px;
    @include noise("White");
    bottom: -3px;
    right: 0;
    position: absolute;
    display: inline-block;
  }

}

//
//ul.subNav {
//  list-style: none;
//  display: inline-block;
//  padding: 0;
//  margin: 0;
//
//  li {
//    display: inline-block;
//    font-size: 0.75em;
//    line-height: 1.0;
//    @include background(linear-gradient(#fff, #eee));
//    border: 1px solid $borderGray;
//    border-bottom: 0px;
//    @include border-radius(0.5em 0.5em 0 0);
//
//    a {
//      display: inline-block;
//      color: #6f6f6f;
//
//      padding: 6px 16px 6px 16px;
//      text-decoration: none;
//    }
//
//    &.selected {
//      position: relative;
//      top: 1px;
//      background: #fff;
//
//      a {
//        padding-top: 10px;
//        position: relative;
//        top: -1px;
//
//      }
//    }
//  }
//}
//
//ul.breadcrumbs {
//  display: inline-block;
//  list-style: none;
//  padding: 0;
//  margin: 0 0 0.5em 0;
//
//  li {
//    display: inline-block;
//    font-size: 0.85em;
//
//    a {
//      color: #767676;
//    }
//  }
//
//  li ~ li:before {
//    content: ' > ';
//  }
//}
//
ul.welcome {
  float: right;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0.85em;
  line-height: (1/0.85 * 1.5);

  li {
    display: inline-block;

    a {
      color: #545d63;
      margin: 0 0.25em;
      font-weight: bold;
    }
  }

  li + li ~ li:before {
    content: ' | ';
  }

  li:first-child {
    margin-right: 1.5em;
  }

  .avatar {
    vertical-align: middle;
    height: 16px;
    width: 16px;
    margin-right: 4px;

  }

  input[type="submit"]:focus {
    border-width: none;
  }

}

//
//h2 {
//  color: #565656;
//  font-family: Arial;
//  font-size: 1.5em;
//  font-weight: bold;
//}



