@import "base";

body {
  text-align: center;
  @include background(radial-gradient(#fff, #c3c3c3));
  // way better w/r/t banding:
  @include background(radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) #c3c3c3);
  padding-top: 50px;
}

#container {
  width: 900px;
  margin: 0 auto;
  text-align: left;

}

.alert {
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.content {
  background: #fff;
  border: 1px solid $borderGray;
  padding: 16px;
  //@include box-shadow(0 0 1em rgba(0,0,0,0.125));
  @include border-radius(0 0.5em 0 0);
}

.clr {
  clear: both;
}

h2 {
  padding: 0;
  margin: 0;

  a {
    color: #767676;
  }
}

ul.pageNav {
  display: inline-block;
  background: $subforumBg;
  color: #d5d5d5;
  @include border-radius(0.25em 0.25em 0 0);
  border: 1px solid $subforumBg;
  border-bottom: none;
  list-style: none;
  margin: 0;
  padding: 0;

  &.right {
    float: right;
  }

  li {
    display: inline-block;

    a {
      display: inline-block;
      background: #fff;
    }

    a, span {
      padding: 0.25em 0.5em;
    }

    &.firstPage a:before {
      content: '<< ';
    }
    &.lastPage a:after {
      content: ' >>';
    }

    &.curPage a {
      background: $subforumBg;
      color: #d5d5d5;
    }

    &:last-child a {
      @include border-radius(0 0.125em 0 0);
    }
  }

  &.bottom {
    @include border-radius(0 0 0.25em 0.25em);
    border: 1px solid $subforumBg;
    border-top: none;

    li:last-child a {
      @include border-radius(0 0 0.125em 0);
    }
  }

}

$tags: (vip, mod, admin, dev, super, owner);
@each $tag in $tags {
  .tag-#{$tag}:before {
    content: url('../images/tags/#{$tag}.png') ' ';
    display: inline-block;
    white-space: pre;
    vertical-align: middle;
    // todo add background images instead of content text
  }
}

#chatbox {
  .chats {
    font-size: 0.75em;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    @include border-radius(0.5em 0.5em 0 0);
    height: 170px;
    padding: 8px;
    overflow: auto;
    overflow-x: hidden;
    background: #fff;
  }

  .chat {
    a.userLink:before {
      line-height: 1.0;
      vertical-align: middle;
    }
  }
  input {
    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 4px 10px;
    //@include background-image(linear-gradient(#d8d8d8, #fefefe 80%));
    @include box-shadow(inset 0px 5px 10px rgba(0, 0, 0, 0.125));

    @include border-radius(0 0 0.5em 0.5em);
  }
}

.missing42 {
  width: 42px;
  height: 42px;
  display: inline-block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqAQMAAAD/DVsYAAAABlBMVEX4APgAAAAfdBzzAAAAJUlEQVR4Xs3OoQEAAARFwScZy+p/LAlDEKSrB5HW2tLyghselgat1Xgl/EfvxwAAAABJRU5ErkJggg==') no-repeat;
}
.missing52 {
  width: 42px;
  height: 42px;
  display: inline-block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0AQMAAAD/tomoAAAABlBMVEX4APgAAAAfdBzzAAAAKUlEQVR4Xt3PQQkAAAjAwIEBjGR1IxlAUEvoQxjce6DlUrHmZAlXfvtpTQiymQ2xdWAAAAAASUVORK5CYII=') no-repeat;
}

.modDropdown {
  display: inline-block;
  position: relative;

  .star {
    width: 16px;
    height: 16px;
    display: inline-block;
    //background: #a00;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIwSURBVDjLlZLNS5RRFMafe9/3vjPOjI1jaKKEVH40tGgRBWEibfoPQoKkVdtoEQQF4T/QqkVtWrSTFrVsF1FgJbWpIAh1k2PNh+PrfL4f95zTQk0HHKkDD/cc7vP8uHCuEhF0q/KnmXNgGR248PZFN4/GISXMC8L89DBPV0Dp4/SsazJjrtfb9/vdxfn/BgjzY5M8Aq8nBya+V3h93vtnQHFxat4kszntJAAAxus1YvnZQV5V/jyTEZarwnwFLGeFZdT0ZFOJdD84qoCDOpQ7grZfRNj020JSEOKvwvxGiF+q0tL0N5PuO+Mk0nC0B0BDsYCCImyzAIktBBloMwKJLSgKYcMAcdhC2KpVlIig+H5qxcv0n0xmj4Gbq+BwC2wtJLbgHUlMEFJwUpMIGpto16u+kJzSACAk+WCzvNbe+AVljkOYIcQQou3TbvdOJo+g4aNdqzaF+PT43HJVA8DQpcVIiPPtaqlEUQzlDELsTpgYwgTAQIjQqlUCtpQfn1spdmxh+PJSQyw9CrbKgM7tvcISQAxlBhC3GuCYXk3cWP25m3M7dk88qbWBRDVApaATOSjPBdXXwYEP5QyCgvjE/kwHgInHtHYBnYA2owhrPiiuw0sOw3EZFEagIB7qChDiYaUcNIoFtP1KxCTPhWiDw7WbXk9vKpnOgsI4exjg6Mbq96YQPxm79uPOvqvbXx4O3KrF6w8osv2df17kr5YXJq7vnw/S0v3k7Ie7xtud/wAaRnP+Cw8iKQAAAABJRU5ErkJggg==
') no-repeat;
    @include animation-name(evilPulse, evilRotate);
    @include animation-duration(3s, 1s);
    @include animation-iteration-count(infinite);
    @include animation-direction(alternate);

  }

  ul {
    display: none;
    position: absolute;
    z-index: 999;
    list-style: none;
    padding: 0;
    margin: 0;
    right: 0;
    top: 16px;
    text-align: right;
    background: #eee;
    border: 1px solid #000;

    li {
      a {
        display: block;
        white-space: pre;
        padding: 0 4px;
      }
      & ~ li {
        border-top: 1px solid #000;
      }
    }
  }
}

@include keyframes(evilPulse) {
  from {
    //background-color: #c00;
    //box-shadow: 0 0 1em rgba(#c00, 1);
    //@include filter(drop-shadow(0 0 2px rgba(#c00, 1)));
  }
  to {
    //background-color: #822;
    //box-shadow: 0 0 1em rgba(#800, 1);
    //@include filter(drop-shadow(0 0 2px rgba(#800, 1)));
  }
}

@include keyframes(evilRotate) {
  from {
    @include transform(rotate(10deg));
  }
  to {
    @include transform(rotate(-10deg));
  }
}

.popupContainer {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, 0.3);
  padding: 100px 0;
  z-index: 9998;
}

.popup {
  padding: 1em;
  width: 80%;
  max-width: 600px;
  min-height: 100px;
  margin: 0 auto;
  z-index: 9999;
  top: 100px;
  background: #eee;
}