@import "base";

body {
  text-align: center;
  @include background(radial-gradient(#fff, #c3c3c3));
  padding-top: 50px;
}

#container {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

.alert {
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.content {
  background: #fff;
  border: 1px solid $borderGray;
  padding: 16px;
}

ul.sideNav {
  margin: 0;
  padding: 0;
  display: inline-block;
  position:relative;

  li {
    display: inline-block;
    position:absolute;
    margin-bottom:7px;

    a {
      color: #fff;
      padding: 12px 16px 12px 28px;
    }

    &:after {
      position:absolute;
      top:-7px;
      left:0;
      content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAHCAMAAADZPFZOAAAAM1BMVEX///93d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3cFyiH2AAAAEHRSTlMA+oQSuzjld/kMtP4u32734uF19AAAAC5JREFUeF5VyLcRwDAAAzEqZ9n7T6tj+SghxfCDpJQ5VirHWsfYmAtj+3Dsfp4HOYMEea3gTjEAAAAASUVORK5CYII=');
    }

    &.selected:after {
      content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHCAMAAAA2/j1wAAAAM1BMVEUSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhMSEhPJKAuDAAAAEHRSTlMAhPoSuzjld/kMtP4u3273KDpR6AAAAC9JREFUeF5dyLcBACAMAzCH2sv/10KGDEajIO4QwAeOJyYKlcsXqK1bmDEp1NoaFymYBHmq1F0xAAAAAElFTkSuQmCC');
    }
  }
}





