@import "base";

body {
  text-align: center;
  @include noise(Grey);
  padding: 0;
}

a {
  color: $blue;
}

#container {
  width: $mainWidth;
  margin: 0 auto;
  text-align: left;

  &:before {
    content: '';
    display: block;
    @include noise(White);
    //border-width:0 0 2px 0;
    @include noiseBorder(GreyDark, 0, 0, 2, 0);
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.alert {
  margin-bottom: 1em;
  padding: 12px 15px;
  border: none;
  @include border-radius(0);
}

.alert-success {
  @include noise(Green);
  color: #fff;

  &:before {
    @include noise(Notice, no-repeat);
    content: '';
    display: inline-block;
    width: 34px;
    height: 17px;
    vertical-align: text-bottom;
  }
}

.content {
  @include noise(GreyMedium);
  border: 1px solid $borderGray;
  padding: $contentPadding;
  //@include box-shadow(0 0 1em rgba(0,0,0,0.125));
  @include border-radius(0.25em);
  @include box-shadow(rgba(#000, 0.1) 0 0 0.25em);
}

.clr {
  clear: both;
}

h2 {
  padding: 0;
  margin: 0 0 0.5em 0;

  a {
    color: #767676;
  }
}

ul.pageNav {
  display: inline-block;
  background: $subforumBg;
  color: #d5d5d5;
  @include border-radius(0.25em 0.25em 0 0);
  border: 1px solid $subforumBg;
  border-bottom: none;
  list-style: none;
  margin: 0;
  padding: 0;

  &.right {
    float: right;
  }

  li {
    display: inline-block;

    a {
      display: inline-block;
      background: #fff;

      &:hover {
        background: #e5e5e5;
        text-decoration: none;
      }
    }

    a, span {
      padding: 0.25em 0.5em;
    }

    &.firstPage a:before {
      content: '<< ';
    }
    &.lastPage a:after {
      content: ' >>';
    }

    &.curPage a {
      background: $subforumBg;
      color: #d5d5d5;
    }

    &:last-child a {
      @include border-radius(0 0.125em 0 0);
    }
  }

  &.bottom {
    @include border-radius(0 0 0.25em 0.25em);
    border: 1px solid $subforumBg;
    border-top: none;

    li:last-child a {
      @include border-radius(0 0 0.125em 0);
    }
  }

}

$tags: (vip, mod, admin, dev, super, owner);
@each $tag in $tags {
  .tag-#{$tag}:before {
    content: url('../images/tags/#{$tag}.png') ' ';
    display: inline-block;
    white-space: pre;
    vertical-align: middle;
    height: 16px;
    // todo add background images instead of content text
  }
}

#chatbox {
  .chats {
    font-size: 0.75em;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    @include border-radius(0.5em 0.5em 0 0);
    height: 170px;
    padding: 8px;
    overflow: auto;
    overflow-x: hidden;
    background: #fff;
  }

  .chat {
    a.userLink:before {
      line-height: 1.0;
      vertical-align: bottom;
      max-height: 15px;
    }
  }

  .chat-date {
    font-style: italic;
  }

  .chat ~ .chat-date {
    margin-top: 1em;
  }

  input {
    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 4px 10px;
    //@include background-image(linear-gradient(#d8d8d8, #fefefe 80%));
    @include box-shadow(inset 0px 5px 10px rgba(0, 0, 0, 0.125));
    @include border-radius(0 0 0.5em 0.5em);
  }
}

.dimensions {
  position: absolute;
  display: inline-block;
  background: rgba(#000, 0.5);
  color: #fff;
  margin: 2px 0 0 2px;
  padding: 0.5em;
  font-size: 0.8em;

  &:hover {
    color: #fff;
  }
}

.tinyImage {
  border: 2px solid #a54;
  cursor: pointer;

  &.expanded {
    max-width: none;
  }
}

.missing42 {
  width: 42px;
  height: 42px;
  display: inline-block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqAQMAAAD/DVsYAAAABlBMVEX4APgAAAAfdBzzAAAAJUlEQVR4Xs3OoQEAAARFwScZy+p/LAlDEKSrB5HW2tLyghselgat1Xgl/EfvxwAAAABJRU5ErkJggg==') no-repeat;
}

.missing52 {
  width: 42px;
  height: 42px;
  display: inline-block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0AQMAAAD/tomoAAAABlBMVEX4APgAAAAfdBzzAAAAKUlEQVR4Xt3PQQkAAAjAwIEBjGR1IxlAUEvoQxjce6DlUrHmZAlXfvtpTQiymQ2xdWAAAAAASUVORK5CYII=') no-repeat;
}

.modButton {
  &.active {
    @include noise(Blue);
    z-index: 1000;
  }

}

.modDropdown {
  display: inline-block;
  position: relative;

  //  .star {
  //    width: 16px;
  //    height: 16px;
  //    display: inline-block;
  //    //background: #a00;
  //    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIwSURBVDjLlZLNS5RRFMafe9/3vjPOjI1jaKKEVH40tGgRBWEibfoPQoKkVdtoEQQF4T/QqkVtWrSTFrVsF1FgJbWpIAh1k2PNh+PrfL4f95zTQk0HHKkDD/cc7vP8uHCuEhF0q/KnmXNgGR248PZFN4/GISXMC8L89DBPV0Dp4/SsazJjrtfb9/vdxfn/BgjzY5M8Aq8nBya+V3h93vtnQHFxat4kszntJAAAxus1YvnZQV5V/jyTEZarwnwFLGeFZdT0ZFOJdD84qoCDOpQ7grZfRNj020JSEOKvwvxGiF+q0tL0N5PuO+Mk0nC0B0BDsYCCImyzAIktBBloMwKJLSgKYcMAcdhC2KpVlIig+H5qxcv0n0xmj4Gbq+BwC2wtJLbgHUlMEFJwUpMIGpto16u+kJzSACAk+WCzvNbe+AVljkOYIcQQou3TbvdOJo+g4aNdqzaF+PT43HJVA8DQpcVIiPPtaqlEUQzlDELsTpgYwgTAQIjQqlUCtpQfn1spdmxh+PJSQyw9CrbKgM7tvcISQAxlBhC3GuCYXk3cWP25m3M7dk88qbWBRDVApaATOSjPBdXXwYEP5QyCgvjE/kwHgInHtHYBnYA2owhrPiiuw0sOw3EZFEagIB7qChDiYaUcNIoFtP1KxCTPhWiDw7WbXk9vKpnOgsI4exjg6Mbq96YQPxm79uPOvqvbXx4O3KrF6w8osv2df17kr5YXJq7vnw/S0v3k7Ie7xtud/wAaRnP+Cw8iKQAAAABJRU5ErkJggg==
  //') no-repeat;
  //  }
  //
  //  &:hover .star {
  //    // wwhhheeeeee!!
  //    @include animation-name(spin);
  //    @include animation-duration(3s);
  //    @include animation-iteration-count(infinite);
  //    @include animation-timing-function(linear);
  //  }

  ul {
    display: none;
    position: absolute;
    z-index: 999;
    list-style: none;
    padding: 0;
    margin: 0;
    right: 0;
    top: 0;
    text-align: left;
    //@include noise(Black);
    background: #222;

    li {
      a {
        color: #fff;
        display: block;
        white-space: pre;
        padding: 0 0.5em;
        @include noise(Black);
        line-height: 32px;

        &:hover {
          @include noise(Blue);
          text-decoration: none;
        }
      }

      &.userActions {
        padding: 0 8px;
        line-height: 32px;
        color: #fff;
      }
    }

    &.mod-thread {
      left: 0;
      right: auto;

      a {
        padding: 0 0.5em 0 0;
      }

      .userActions {
        padding-left: 40px;
        font-weight: bold;
      }
    }

  }
}

@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

.popupContainer {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, 0.3);
  padding: 100px 0;
  z-index: 9998;
}

.popup {
  padding: 1em;
  width: 80%;
  max-width: 600px;
  min-height: 100px;
  margin: 0 auto;
  z-index: 9999;
  top: 100px;
  background: #eee;
}

.popupCloseLink {
  font-size: 0.75em;

  &:before {
    margin-top: 2em;
    content: '\a';
    display: block;
  }
}

table {
  width: 100%;

  td {
    //text-align: center;
  }
}

a[target="_blank"]:after {
  content: " " url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAD1BMVEX///////////////////+Rd1MVAAAABHRSTlMAaeRqY+AomwAAADNJREFUeF4lxIEJACAMBLErdACRjuIAX/n9Z7IghEDYhlwkcGe7Z+Xac4cLnVKjkOCzLR6tNQaTLNDT1wAAAABJRU5ErkJggg==');
  white-space: pre;
}

// elements to hide image on
a.sprite[target="_blank"]:after {
  display: none;
}

.login {
  width: 154px;
  height: 23px;
  background: url(../images/steam_signin.png) no-repeat;
  display: inline-block;
  border: none;
  font-size: 1px;
  color: transparent;
}

.curse {
  font-weight: bold;
  @include filter(blur(2px));
  //color:transparent;
  //text-shadow:0 0 0.5em #ccc, 0 0 0.5em #ccc;

}

