#parsedContent {
  border: 1px solid #ccc;
  padding: 0.5em;
  display: inline-block;
}

#postContent {
  max-width: 100%;
}

.createThread {
  label {
    display: block;
  }

  #postTitle {
    width: 621px;
  }
}

