@import "base";

$blue: #3d658f;
$green: #b9d44d;

.server {
  padding: 3px;
  margin: 1em 0 2em 0;
  background: #fff;
  @include box-shadow(0 0 0.5em rgba(#000, 0.25));

  .name {
    //background: $blue;
    @include noise(Black);
    padding: 1em;
    color: #fff;

    h3 {
      font-family: 'Arvil Sans', Arial;
      letter-spacing: 1px;
    }

    .playerCount {
      float: right;
    }
  }

  h3 {
    margin: 0;
    font-size: 2.1em;
  }

  .percent {
    height: 4px;
    //background: #eee;
    //@include noise(Green);
    @include noise(Grey);
    margin: 3px 0;
    padding: 0;

    .playerPercent {
      //background: $green;
      @include noise(Green);
      display: inline-block;
      height: 4px;
      margin: 0;
      vertical-align: top;
    }
  }

  .details {
    //background: #f3f1f1;
    @include noise(White);
    padding: 0.25em 0.25em 0.25em 0.5em;

    .joinServer {
      text-decoration: none;
      float: right;
      color: #fff;
      //background: $blue;
      font-family: 'Arvil Sans', Arial;
      font-size: 1.7em;
      padding: 0.125em 1em;
      //@include border-radius(0.25em);
      letter-spacing: 1px;
      @include noise(blue);

      &:hover {
        text-decoration: none;
        //background:#5b8ec8;
        @include noise(BlueDark);
      }
    }

    dl {
      font-size: 0.8em;
      margin: 0;

      dt {
        font-weight: normal;
        color: #888;
        display: inline-block;
        min-width: 100px;
        float: left;
        clear: left;
        padding: 0.25em 0;
      }

      dd {
        display: inline-block;
        padding: 0.25em 0;
        float: left;
      }

      &:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        background: green;
      }
    }
  }

}
