@import 'base';

.posts {
  border: 1px solid #ddd;
  border-bottom: none;
}

.post {
  background: #f2f2f2;
  @include background-image(linear-gradient(left, #f2f2f2, #ffffff));
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA0QAAAABCAIAAABxBvk7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpifP78OcMoGAqAl5eXGGWMjIz///+nKUlTbw5d9w/1kB/1xbAP/9H0M5ryR/PvcM2/AAEGAM6kAR2PYOJ3AAAAAElFTkSuQmCC') repeat-y #f2f2f2;
  //@include background-image(linear-gradient(left, #e7e7e7, #e7e7e7 142px,#f2f2f2 143px, #ffffff));
  border-bottom: 1px solid #ddd;
  position: relative;
  //overflow: visible;
  //overflow-y: hidden;
  //overflow-x: visible;
  //// wtf is up with overflow-y:hidden

  &:target:before {
    content: '\25b6';
    position: absolute;
    right: 864px;
    display: inline-block;
    padding: 0 1px 0 0;
    font-size: 1.5em;
    top: 0;
    line-height: 1.0;
  }
}

.editLink, .quoteLink, .modDropdown {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.postOptions {
  $bgColor: #fff;
  $bgMaxAlpha: 0.8;
  $fadeWidth: 20px;
  $height: 16px;

  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba($bgColor, $bgMaxAlpha);
  line-height: 1;
  height: $height;

  &:before, &:after {
    content: '';
    position: absolute;
    height: $height;
    width: $fadeWidth;
    top: 0;
  }

  &:before {
    @include background-image(linear-gradient(left, rgba($bgColor, 0), rgba($bgColor, $bgMaxAlpha)));
    left: -1 * $fadeWidth;
  }

  &:after {
    @include background-image(linear-gradient(left, rgba($bgColor, $bgMaxAlpha), rgba($bgColor, 0)));
    right: -1 * $fadeWidth;
  }

}

.editLink {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAMAAACecocUAAAAz1BMVEX///+enp6bm5udnZ2enp6cnJyZmZmWlpabm5uUlJSSkpKPj4+NjY2YmJiRkZGOjo6JiYmWlpaUlJSFhYWRsOONq92EhISCgoKNr+OHqeCIiIiFhYWDg4OBgYGDpd97od9ijdV1nd1Tg9Vnk9tNf9NZh9VRg9VJfdFDedHS0tK1tbWwx+y1yu2jvumjr8TV1dWtxOuyyOypwep8od67u7umpqbW1tawx+t8od2VpbzLy8vJycnGxsacuOalv+l0m9ygoKDAwMDm5ubh4eGysrJz4W5QAAAAKXRSTlMAYvnoG+SSq1Tvr6aQVdr1/QLF6IH55GJ1/q9fVRd1+fz3jO+EW/Dzh8/FlyoAAABkSURBVHheLcZTGsQwAAbAvzbWNlNibd7/TP2aZJ4GlCCJKhhZ+RGNXw++hmnZ9M7/6Hofv2qtfiU3cm8AaLaSdH94tztAt3c6X/qD4QgYT8IonoKaZXmxm7MvHs/XEsxqvdnyli1iCX1kORL9AAAAAElFTkSuQmCC') no-repeat 3px 2px;
}

.quoteLink {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAMAAAB4W0xQAAAAz1BMVEX///9Yh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7hYh7j///9Yh7jp8v6duNXb6v39/v7X6P3g7f7i7v7h7v7d6/60yd/l8P57oMfk7/7a6f3U5v3R5P3f7P7c6/3Z6f3W5/3T5v3Q5P3R5Px9osjo8f7Q4/3m8P7j7/7v8/ipwdqJqs3n7vXc6v3d7P5slcCZttTw9v7V5v37/P3e7P7m8f6ME4c2AAAAGnRSTlMA/EskpdsMsRIeBjb5ujkJ09z3fY30cSLeZOPCph4AAAB8SURBVHhePc1VDsMwAANQdx0zg5MUh8zMcP8zrVG3vT9Llg0ko1kRypkAEocnQ51YGnHDvst3339ZZ/YySF253u7ci+U8eIzo2PXc9sAZjoKoy3I8mc7miyVXeT1lk/Q2Mpgq6CNDCEXuVdHEV+mkyhX8VG+1Ov4azRZCH1XuDgzVkcabAAAAAElFTkSuQmCC') no-repeat 1px 3px;
}

.userInfo {
  width: 142px;
  display: inline-block;
  background: #e7e7e7;
  padding: 0 12px 4px 6px;
  position: relative;

  // hack to get the userinfo to go a bit taller
  // doesn't work because overflow-x/y spec is dumb
  //&:after {
  //  content: '';
  //  display: block;
  //  height: 1000%;
  //  background: #e7e7e7;
  //  width: 142px;
  //  position: absolute;
  //  top: 100%;
  //  left: 0;
  //}

  .postTime {
    font-size: 0.75em;
    color: #676565;
    font-style: italic;
  }

  .avatar {
    width: 128px;
    height: 128px;
    border: 3px solid #93abbd;
    display: inline-block;
    @include border-radius(0.5em);
  }

  a.userLink {
    color: #404346;
    font-weight: bold;
    display: block;
  }

  .postCount {
    display: block;
  }

  .rankTag {
    display: block;
  }

  .ip, .steamId {
    display: block;
    color: #afafaf;
    font-size: 0.75em;
  }
}

.postContent {
  display: inline-block;
  width: 866px - 142px - 2px + 32px - $contentPadding * 2;
  padding: 12px 54px 12px 12px;
  vertical-align: top;
  margin: 0 0 1em 0;
  overflow-x: auto;

  blockquote {
    padding: 7px 23px;
    border: 1px solid #ddd;
    @include border-radius(0.5em);
    @include background-image(linear-gradient(left, #ededed, #f7f7f7));
    font-size: 0.9em;
    margin: 0;
    position: relative;

    &::before {
      content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKBAMAAAByAqLJAAAALVBMVEWvr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr69hrK0dAAAADnRSTlMARLuZEcwid1Xdqogz7if2De8AAABGSURBVHhebcWxCYAwEEDRT4RD4g7BEbKDfUiVccQhUjuSuMIV4cDiZtABrB5smbkhZ2c3poH4QVGWB66baJAqQT98Da6/vNnzF8PiKPQPAAAAAElFTkSuQmCC');
      left: 7px;
      top: 22px;
      position: absolute;
    }

    &:after {
      content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKBAMAAAByAqLJAAAALVBMVEWvr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr69hrK0dAAAADnRSTlMAdzPuiKrMZrtVEd0iRAGl5MMAAABHSURBVHhebcVBEYAgEEDR74yLF2eHBERgSEAEMxDBDFSxgFGIgDe9bAYI4Omh1hd7/kE76yQmZBIK18eeT46b+CLWcJ6tMgAEjxkCJlUqgwAAAABJRU5ErkJggg==');
      bottom: 10px;
      right: 6px;
      position: absolute;
    }

    a.postLink {
      font-size: 1em;
      margin: 0 0 10px -16px;
      display: inline-block;
    }
  }

  img {
    max-width: 100%;
  }

  .editInfo {
    position: absolute;
    bottom: 0px;
    display: block;
    left: 154px;
    font-style: italic;
    color: #999;
  }

}





