@import 'base';

h2.threadTitle {
  &:before, &:after {
    font-size: 0.75em;
    font-family: Consolas, Courier;
  }
  &.sticky:before {
    content: 'STICKY: ';

  }
  &.closed:after {
    content: ' (CLOSED)';
  }
}

.posts {
  margin: 0 (-1 * $contentPadding);
  @include noise(OffWhite);
  @include noiseBorder(Divider, 0, 0, 2, 0);
}

.post {
  @include noiseBorder(GreyDark, 0, 0, 0, 5);

  &.seen {
    //@include noiseBorder(GreyMedium, 0, 0, 0, 5);
    //@include noise(GreyMedium);
    @include noiseBorder(GreyDark, 0, 0, 0, 5);
  }

  &.myPost {
    @include noiseBorder(Blue, 0, 0, 0, 5);
  }

  padding: 36px 0 0 0;
  position: relative;

  //background: #f2f2f2;
  //@include background-image(linear-gradient(left, #f2f2f2, #ffffff));
  //background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA0QAAAABCAIAAABxBvk7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpifP78OcMoGAqAl5eXGGWMjIz///+nKUlTbw5d9w/1kB/1xbAP/9H0M5ryR/PvcM2/AAEGAM6kAR2PYOJ3AAAAAElFTkSuQmCC') repeat-y #f2f2f2;
  ////@include background-image(linear-gradient(left, #e7e7e7, #e7e7e7 142px,#f2f2f2 143px, #ffffff));
  //border-bottom: 1px solid #ddd;
  //position: relative;
  //overflow: visible;
  //overflow-y: hidden;
  //overflow-x: visible;
  //// wtf is up with overflow-y:hidden

  //&:target:before {
  //  content: '\25b6';
  //  position: absolute;
  //  right: 864px;
  //  display: inline-block;
  //  padding: 0 1px 0 0;
  //  font-size: 1.5em;
  //  top: 0;
  //  line-height: 1.0;
  //}
  &:before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    @include noise(Divider);
    position: absolute;
    top: 0;
  }
}

.editLink, .quoteLink, .modDropdown {
  width: 32px;
  height: 32px;
  display: inline-block;
  @include noise(GreyDark);
}

.postOptions {
  position: absolute;
  top: 12px;
  right: 12px;
  //background: rgba($bgColor, $bgMaxAlpha);
  line-height: 1;
  width: 32px;

  //&:before, &:after {
  //  content: '';
  //  position: absolute;
  //  height: $height;
  //  width: $fadeWidth;
  //  top: 0;
  //}
  //&:before {
  //  @include background-image(linear-gradient(left, rgba($bgColor, 0), rgba($bgColor, $bgMaxAlpha)));
  //  left: -1 * $fadeWidth;
  //}
  //
  //&:after {
  //  @include background-image(linear-gradient(left, rgba($bgColor, $bgMaxAlpha), rgba($bgColor, 0)));
  //  right: -1 * $fadeWidth;
  //}

  & > a, & > .modDropdown {
    margin: 0 0 8px 0;
    @include noise(GreyDark);

    &:hover {
      @include noise(BlackLight);
    }

    &:active {
      @include noise(Blue);
    }
  }

}

.userInfo {
  width: 192px;
  display: inline-block;
  padding: 0 32px;
  //position: relative;
  text-align: right;
  //background: rgba(0, 0, 0, 0.1);

  // hack to get the userinfo to go a bit taller
  // doesn't work because overflow-x/y spec is dumb
  //&:after {
  //  content: '';
  //  display: block;
  //  height: 1000%;
  //  background: #e7e7e7;
  //  width: 142px;
  //  position: absolute;
  //  top: 100%;
  //  left: 0;
  //}

  .postTime {
    font-size: 0.75em;
    color: #676565;
    font-style: italic;
  }

  .avatar {
    width: 128px;
    height: 128px;
    border: 2px solid #d1d1d1;
    display: inline-block;
  }

  a.userLink {
    color: #404346;
    font-weight: bold;
    display: block;
  }

  .postCount {
    display: block;
  }

  .rankTag {
    display: block;
  }

  .ip, .steamId {
    display: block;
    color: #afafaf;
    font-size: 0.75em;
  }
}

.postContent {
  display: inline-block;
  width: (866px - 142px - 2px - 5px - 16px - 32px);
  //width: 701px;
  padding: 0;
  vertical-align: top;
  margin: 0 0 1em 0;
  overflow-x: auto;
  font-family: Helvetica;
  color: #333;

  blockquote {
    padding: 7px 23px;
    border: 1px solid #ddd;
    @include border-radius(0.5em);
    @include background-image(linear-gradient(left, #ededed, #f7f7f7));
    font-size: 0.9em;
    margin: 0;
    position: relative;

    &::before {
      content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKBAMAAAByAqLJAAAALVBMVEWvr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr69hrK0dAAAADnRSTlMARLuZEcwid1Xdqogz7if2De8AAABGSURBVHhebcWxCYAwEEDRT4RD4g7BEbKDfUiVccQhUjuSuMIV4cDiZtABrB5smbkhZ2c3poH4QVGWB66baJAqQT98Da6/vNnzF8PiKPQPAAAAAElFTkSuQmCC');
      left: 7px;
      top: 22px;
      position: absolute;
    }

    &:after {
      content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKBAMAAAByAqLJAAAALVBMVEWvr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr69hrK0dAAAADnRSTlMAdzPuiKrMZrtVEd0iRAGl5MMAAABHSURBVHhebcVBEYAgEEDR74yLF2eHBERgSEAEMxDBDFSxgFGIgDe9bAYI4Omh1hd7/kE76yQmZBIK18eeT46b+CLWcJ6tMgAEjxkCJlUqgwAAAABJRU5ErkJggg==');
      bottom: 10px;
      right: 6px;
      position: absolute;
    }

    a.postLink {
      font-size: 1em;
      margin: 0 0 10px -16px;
      display: inline-block;
    }
  }

  img {
    max-width: 100%;
  }

  .editInfo {
    position: absolute;
    bottom: 0px;
    display: block;
    left: 191px;
    font-style: italic;
    color: #999;
  }

}





